# Project: Predicting Safety events for cities using Scikit-Learn
## Author : Parashar Bhatt

###   Milestone 1. Load and Clean the Raw Data
#### Objective:
- Explore the data for different US cities to identify any data qualities issues.
- Prepare a cleaned dataset with duplicate entries removed for each city.

In [1]:
import os
import sys
import datetime 
from copy import deepcopy
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pyarrow.parquet as pq
sns.set_theme()
#import statsmodels as st
get_ipython().run_line_magic('matplotlib', 'inline')
from pandas_profiling import ProfileReport

plt.rcParams.update({'figure.figsize': (12, 8), 'figure.dpi': 120})
pd. set_option("display.max_columns", None) 

%load_ext nb_black
%matplotlib inline

#pd.reset_option(“max_columns”)
#pd. set_option("display.max_rows", None)
#pd.reset_option(“max_rows”)
#pd.set_option(“max_colwidth”, None)
#pd.reset_option(“max_colwidth”)
#pd.set_option(“max_seq_item”, None)

print("Default max_rows: {} and min_rows: {}".format( pd.get_option("max_rows"), pd.get_option("min_rows")))
print("Default max_columns: {} ".format( pd.get_option("max_columns")))
print("Required libraries are loaded in memory")

Default max_rows: 60 and min_rows: 10
Default max_columns: None
Required libraries are loaded in memory


# Working on San-Francisco file : df_san

# Step-1 Load the data  & Explore and 
# Step-2 Identify potential data quality issues

In [2]:

filedir = os.path.join(os.getcwd(), "data")
filedir = os.path.join(filedir, "in")
fl = "safety-SanFrancisco.parquet"
#fl = "safety-Nyc.parquet"
fl_name = os.path.join(filedir, fl)
#reading sanfrancisco file
pf_san = pq.read_table(fl_name)
df_san = pf_san.to_pandas()
print(" 'safety-SanFrancisco.parquet' file is loaded in pandas dataframe:  df_san ")

# SanFrancisco Events load detail

print("SanFrancisco Events load detail")
print(f"Shape of df_san : {df_san.shape}")
print("Information about dataframe")
print(df_san.info())
print("df_san.index.name :", df_san.index.name)
print(f"column list for df_san : \n {list(df_san.columns)}")

# SanFrancisco Events sample records

df_san.style.set_table_styles(
    [{"selector": "tr:hover", "props": "background-color: yellow; font-size: 1em;"}]
)
display(df_san.head(4))

 'safety-SanFrancisco.parquet' file is loaded in pandas dataframe:  df_san
SanFrancisco Events load detail
Shape of df_san : (3958889, 12)
Information about dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3958889 entries, 0 to 3958888
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   requestId           int64
 1   dataType            object
 2   dataSubtype         object
 3   dateTime            object
 4   category            object
 5   subcategory         object
 6   status              object
 7   address             object
 8   latitude            float64
 9   longitude           float64
 10  source              object
 11  extendedProperties  object
dtypes: float64(2), int64(1), object(9)
memory usage: 362.4+ MB
None
df_san.index.name : None
column list for df_san :
 ['requestId', 'dataType', 'dataSubtype', 'dateTime', 'category', 'subcategory', 'status', 'address', 'latitude', 'longitude', 'source', 'extendedProperties']

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
0,1,Safety,911_Fire,2018-10-02 11:54:01,Potentially Life-Threatening,Medical Incident,None,ELM ST/FRANKLIN ST,37.781286,-122.422187,None,
1,2,Safety,311_All,2018-07-08 15:00:27,Street and Sidewalk Cleaning,Bulky Items,Closed,"1536 SACRAMENTO ST, SAN FRANCISCO, CA, 94109",37.791887,-122.418188,Mobile/Open311,
2,3,Safety,311_All,2016-06-28 13:12:28,General Request - COUNTY CLERK,customer_callback,Closed,Not associated with a specific address,0.000000,0.000000,Phone,
3,7,Safety,311_All,2017-03-03 09:34:49,Temporary Sign Request,Temporary Sign Request for Other_Event_Type,Closed,"2190 NORTH POINT ST, SAN FRANCISCO, CA, 94123",37.802853,-122.443245,Phone,

### Generating profile report for San-Francisco file

In [3]:
# converting dateTime  column from object dType to datetime

# df_san['dateTime'] = df_san['dateTime'].astype('datetime64[ns]') # works only with string
df_san["dateTime"] = pd.to_datetime(
    df_san["dateTime"]
)  # can convert both int and string to datetime
df_san.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3958889 entries, 0 to 3958888
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   requestId           int64
 1   dataType            object
 2   dataSubtype         object
 3   dateTime            datetime64[ns]
 4   category            object
 5   subcategory         object
 6   status              object
 7   address             object
 8   latitude            float64
 9   longitude           float64
 10  source              object
 11  extendedProperties  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(8)
memory usage: 362.4+ MB

In [4]:
df_san_profile = ProfileReport(df_san, title="df_san Profiling Report" ,  progress_bar=True ,config_file="config.yaml")
# Change the config after
df_san_profile.config.html.minify_html = False
df_san_profile.to_file("df_san_profile_report.html")
print("Profile report for file of San-Franciscois generated")

Summarize dataset:   0%|          | 0/21 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Profile report for file of San-Franciscois generated

In [5]:
# Getting look and feel of data

print("Range for dateTime column: as datetime_is_numeric = False and then True  \n")
print(df_san["dateTime"].describe(datetime_is_numeric=False))
print(df_san["dateTime"].describe(datetime_is_numeric=True))
display(df_san[["requestId", "category", "status", "dateTime"]].head())
print(df_san.info())

Range for dateTime column: as datetime_is_numeric = False and then True

C:\Users\paras\AppData\Local\Temp/ipykernel_9572/8487169.py:4: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  print(df_san["dateTime"].describe(datetime_is_numeric=False))

count                 3958889
unique                2613287
top       2016-06-18 14:19:13
freq                       83
first     2016-01-01 00:00:43
last      2020-07-15 23:51:08
Name: dateTime, dtype: object
count                          3958889
mean     2018-05-20 10:22:28.753737728
min                2016-01-01 00:00:43
25%                2017-04-17 17:30:28
50%                2018-06-13 15:43:00
75%                2019-07-09 08:56:00
max                2020-07-15 23:51:08
Name: dateTime, dtype: object

   requestId                        category  status            dateTime
0          1    Potentially Life-Threatening    None 2018-10-02 11:54:01
1          2    Street and Sidewalk Cleaning  Closed 2018-07-08 15:00:27
2          3  General Request - COUNTY CLERK  Closed 2016-06-28 13:12:28
3          7          Temporary Sign Request  Closed 2017-03-03 09:34:49
4         10    Potentially Life-Threatening    None 2016-10-25 18:33:20

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3958889 entries, 0 to 3958888
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   requestId           int64
 1   dataType            object
 2   dataSubtype         object
 3   dateTime            datetime64[ns]
 4   category            object
 5   subcategory         object
 6   status              object
 7   address             object
 8   latitude            float64
 9   longitude           float64
 10  source              object
 11  extendedProperties  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(8)
memory usage: 362.4+ MB
None

In [6]:
# Missing for all colums
df_san.isna().sum()

requestId                   0
dataType                    0
dataSubtype                 0
dateTime                    0
category                 4933
subcategory                 0
status                1405089
address                     3
latitude                    0
longitude                   0
source                1405089
extendedProperties          0
dtype: int64

In [7]:
df_san.loc[df_san["category"].isna() == True, :].head(10)

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
726,1707,Safety,911_Fire,2019-03-02 11:56:54,None,Medical Incident,None,500 Block of PARNASSUS AVE,37.763317,-122.458206,None,
1626,3840,Safety,911_Fire,2019-02-28 17:55:46,None,Medical Incident,None,2000 Block of 23RD AV,37.749392,-122.480364,None,
2056,4906,Safety,911_Fire,2020-04-10 15:48:36,None,Medical Incident,None,1000 Block of POTRERO AVE,37.756508,-122.406541,None,
2176,5215,Safety,911_Fire,2020-04-15 16:09:15,None,Medical Incident,None,300 Block of CLEMENTINA ST,37.782039,-122.402321,None,
3033,7319,Safety,911_Fire,2016-01-29 11:39:16,None,HazMat,None,0 Block of MCALLISTER ST,37.781119,-122.412597,None,
3414,8173,Safety,911_Fire,2020-04-12 18:21:32,None,Medical Incident,None,3100 Block of 26TH ST,37.749409,-122.412955,None,
3532,8481,Safety,911_Fire,2020-04-17 10:57:22,None,Medical Incident,None,0 Block of VAN NESS AVE,37.775778,-122.419235,None,
3617,8696,Safety,911_Fire,2019-10-16 21:36:43,None,Explosion,None,BAYSHORE BL/CRANE ST,37.721517,-122.399925,None,
4124,9841,Safety,911_Fire,2019-04-13 11:16:43,None,Traffic Collision,None,2100 Block of FUNSTON AVE,37.748016,-122.469420,None,
4553,10896,Safety,911_Fire,2020-03-26 22:47:20,None,Medical Incident,None,20TH ST/CHURCH ST,37.758089,-122.428050,None,

In [8]:
# Getting look and feel of data for column 'dataType'

display(df_san['dataType'].value_counts())

#Safety    3958889
#Name: dataType, dtype: int64

# Finding: all values are same in this column i.e. constant column wih value "Safety"   and can be dropped

Safety    3958889
Name: dataType, dtype: int64

In [9]:
# Getting look and feel of data for column 'dataSubtype'
cnt = df_san["dataSubtype"].value_counts()
df_tmp = pd.DataFrame()
df_tmp["cnt"] = cnt
y = df_tmp["cnt"].sum()
df_tmp["percent"] = df_tmp.cnt.apply(lambda x: x * 100 / y)
display(df_tmp)

# Finding:    Column is Catgorical and have only two categories of dataSubtype

              cnt    percent
311_All   2553800  64.507997
911_Fire  1405089  35.492003

In [10]:
# Getting look and feel of data for column 'category'
cnt = df_san["category"].value_counts(dropna=False)
df_tmp = pd.DataFrame()
df_tmp["cnt"] = cnt
y = df_tmp["cnt"].sum()
df_tmp["percent"] = df_tmp.cnt.apply(lambda x: x * 100 / y)

print(f"Distinct category counts : {len(df_san['category'].unique().tolist())}")

display(df_tmp)
p = df_tmp["percent"].head(15).sum()
print(f"Top 15 category %: { p }")
print(df_tmp.info())
# Finding : Distinct category counts : 96 but Top 15 category contributes to  %: 89.15271186629289

Distinct category counts : 96

                                            cnt    percent
Street and Sidewalk Cleaning             965968  24.399977
Potentially Life-Threatening             676297  17.083000
Non Life-threatening                     349634   8.831619
Alarm                                    326893   8.257190
Graffiti                                 296927   7.500261
...                                         ...        ...
General Request - STATUS OF WOMEN             6   0.000152
General Request - LANGUAGE SERVICES           5   0.000126
General Request - WAR MEMORIAL                5   0.000126
General Request - GRANTS FOR THE ARTS         1   0.000025
General Request - CONVENTION FACILITIES       1   0.000025

[96 rows x 2 columns]

Top 15 category %: 89.04162253601957
<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, Street and Sidewalk Cleaning to General Request - CONVENTION FACILITIES
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cnt      96 non-null     int64
 1   percent  96 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 2.2+ KB
None

In [11]:
# Getting look and feel of data for column 'subcategory'
cnt = df_san["subcategory"].value_counts()
df_tmp = pd.DataFrame()
df_tmp["cnt"] = cnt
y = df_tmp["cnt"].sum()
df_tmp["percent"] = df_tmp.cnt.apply(lambda x: x * 100 / y)

print(f"Distinct subcategory counts : {len(df_san['subcategory'].unique().tolist())}")

p = df_tmp["percent"].head(20).sum()
print(f"Top 20 subcategory %: { p }")

display(df_tmp.head(20))
display(df_tmp.loc[df_tmp["cnt"] == 1, :])
# Finding: 145 subcategory records occured only once with percentage: 0.000025
display(df_tmp.loc[df_tmp["cnt"] < 3, :])
# Finding: 193 subcategory records occured only once or twice with percentage: 0.000025 to 0.000051

Distinct subcategory counts : 639
Top 20 subcategory %: 73.67377564766277

                                                     cnt    percent
Medical Incident                                  966543  24.414501
Bulky Items                                       400965  10.128220
General Cleaning                                  305869   7.726132
Encampment Reports                                224566   5.672450
Alarms                                            159662   4.033000
Structure Fire                                    120298   3.038681
Human or Animal Waste                             115590   2.919759
request_for_service                               109893   2.775855
Abandoned Vehicles                                 62602   1.581302
Traffic Collision                                  59168   1.494561
City_garbage_can_overflowing                       56215   1.419969
Graffiti on Other_enter_additional_details_below   42754   1.079949
Hazardous Materials                                40522   1.023570
Parking_on_Sidewalk                                38767   0.979239
Graffiti on Building_commercial                    38219   0.965397
complaint                                          37799   0.954788
Other_Illegal_Parking                              36206   0.914550
Pavement_Defect                                    34450   0.870194
Blocking_Driveway_Cite_Only                        33535   0.847081
Graffiti on Pole                                   33040   0.834578

                                                    cnt   percent
Construction Zone Tow-away Permits for Muni-Cab...    1  0.000025
Construction Zone Tow-away Permits for RHA Buil...    1  0.000025
Construction Zone Tow-away Permits for Roebuck ...    1  0.000025
Construction Zone Tow-away Permits for R&S Cons...    1  0.000025
Construction Zone Tow-away Permits for Tong Cheong    1  0.000025
...                                                 ...       ...
Construction Zone Tow-away Permits for Ronan Co...    1  0.000025
Sign Repair or Replace                                1  0.000025
Construction Zone Tow-away Permits for Capax          1  0.000025
Construction Zone Tow-away Permits for Dept of ...    1  0.000025
Construction Zone Tow-away Permits for Seton Pa...    1  0.000025

[145 rows x 2 columns]

                                                    cnt   percent
Construction Zone Tow-away Permits for Departme...    2  0.000051
Construction Zone Tow-away Permits for Abide In...    2  0.000051
Construction Zone Tow-away Permits for Balfour ...    2  0.000051
Construction Zone Tow-away Permits for Armstron...    2  0.000051
Construction Zone Tow-away Permits for Cahill         2  0.000051
...                                                 ...       ...
Construction Zone Tow-away Permits for Ronan Co...    1  0.000025
Sign Repair or Replace                                1  0.000025
Construction Zone Tow-away Permits for Capax          1  0.000025
Construction Zone Tow-away Permits for Dept of ...    1  0.000025
Construction Zone Tow-away Permits for Seton Pa...    1  0.000025

[193 rows x 2 columns]

In [12]:
# Getting look and feel of data  for few  highest frequency address (Top 7)

df_tmp = pd.DataFrame(df_san["address"].value_counts())
chk_addr = list(df_tmp.index.values)
chk_addr = chk_addr[:7]
print(chk_addr)
for x in chk_addr:
    df_tmp = df_san.loc[
        df_san["address"] == x,
        [
            "dataSubtype",
            "dateTime",
            "category",
            "subcategory",
            "status",
            "address",
            "latitude",
            "longitude",
            "source",
            "extendedProperties",
        ],
    ]
    display(df_tmp.head(10))

"""
Findings:

Highest Freq addr:
['Not associated with a specific address', '800 Block of MARKET ST', '0 Block of 6TH ST', '1000 Block of POLK ST', 
'500 Block of 5TH ST', '1100 Block of MARKET ST', '300 Block of EDDY ST']

dataSubtype  : '311_All'
address='Not associated with a specific address' latitude and longitude : 0.0
rest all are for dataSubtype  : 911_Fire' and have status = None

Without address [lat and long : 0.0 ] records did not help us to plan for resource of safety event for specific area"
but it can be imputed using coordinate of city  as we can use dateTime and Category of event, source etc

"""

['Not associated with a specific address', '800 Block of MARKET ST', '0 Block of 6TH ST', '1000 Block of POLK ST', '500 Block of 5TH ST', '1100 Block of MARKET ST', '300 Block of EDDY ST']

,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
2,311_All,2016-06-28 13:12:28,General Request - COUNTY CLERK,customer_callback,Closed,Not associated with a specific address,0.0,0.0,Phone,
122,311_All,2018-04-19 10:24:00,General Request - COUNTY CLERK,request_for_service,Closed,Not associated with a specific address,0.0,0.0,Web,
146,311_All,2019-02-06 17:22:34,MUNI Feedback,MUNI - Conduct_Discourteous_Insensitive_Inapp...,Closed,Not associated with a specific address,0.0,0.0,Web,
150,311_All,2018-02-16 12:54:00,General Request - COUNTY CLERK,customer_callback,Closed,Not associated with a specific address,0.0,0.0,Phone,
168,311_All,2018-07-12 17:25:00,MUNI Feedback,MUNI - Commendation,Closed,Not associated with a specific address,0.0,0.0,Phone,
220,311_All,2019-01-23 06:56:14,MUNI Feedback,MUNI -,Closed,Not associated with a specific address,0.0,0.0,Web,
221,311_All,2016-08-08 09:30:26,MUNI Feedback,MUNI - Conduct_Unsafe_Operation,Closed,Not associated with a specific address,0.0,0.0,Phone,
235,311_All,2020-01-10 16:45:00,MUNI Feedback,MUNI - Conduct_Discourteous_Insensitive_Inapp...,Open,Not associated with a specific address,0.0,0.0,Web,
279,311_All,2020-05-22 11:01:00,General Request - COUNTY CLERK,request_for_service,Open,Not associated with a specific address,0.0,0.0,Phone,
292,311_All,2019-06-25 09:17:03,General Request - TT COLLECTOR,request_for_service,Closed,Not associated with a specific address,0.0,0.0,Web,

,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
199,911_Fire,2017-12-01 12:39:46,Potentially Life-Threatening,Medical Incident,None,800 Block of MARKET ST,37.785220,-122.406675,None,
622,911_Fire,2019-11-08 16:45:45,Potentially Life-Threatening,Medical Incident,None,800 Block of MARKET ST,37.785081,-122.406498,None,
1145,911_Fire,2016-05-22 17:24:12,Non Life-threatening,Medical Incident,None,800 Block of MARKET ST,37.784346,-122.407785,None,
1533,911_Fire,2016-09-02 16:22:01,Alarm,Alarms,None,800 Block of MARKET ST,37.784206,-122.407613,None,
1767,911_Fire,2016-04-02 23:00:00,Potentially Life-Threatening,Medical Incident,None,800 Block of MARKET ST,37.784346,-122.407785,None,
1799,911_Fire,2017-02-07 14:40:43,Potentially Life-Threatening,Medical Incident,None,800 Block of MARKET ST,37.784346,-122.407785,None,
2047,911_Fire,2019-10-12 15:04:53,Non Life-threatening,Medical Incident,None,800 Block of MARKET ST,37.784206,-122.407613,None,
2265,911_Fire,2016-09-27 13:38:39,Alarm,Alarms,None,800 Block of MARKET ST,37.784206,-122.407613,None,
3146,911_Fire,2019-10-07 11:21:27,Potentially Life-Threatening,Medical Incident,None,800 Block of MARKET ST,37.784206,-122.407613,None,
3150,911_Fire,2018-02-15 05:11:38,Non Life-threatening,Medical Incident,None,800 Block of MARKET ST,37.784206,-122.407613,None,

,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
686,911_Fire,2017-02-28 15:57:28,Alarm,Structure Fire,None,0 Block of 6TH ST,37.781537,-122.409518,None,
1381,911_Fire,2020-05-08 20:12:09,Potentially Life-Threatening,Medical Incident,None,0 Block of 6TH ST,37.781537,-122.409518,None,
1571,911_Fire,2016-03-14 10:35:52,Potentially Life-Threatening,Medical Incident,None,0 Block of 6TH ST,37.781615,-122.409420,None,
2214,911_Fire,2016-05-03 14:37:02,Potentially Life-Threatening,Medical Incident,None,0 Block of 6TH ST,37.781615,-122.409420,None,
2219,911_Fire,2019-08-27 22:52:50,Non Life-threatening,Medical Incident,None,0 Block of 6TH ST,37.781146,-122.409026,None,
2226,911_Fire,2019-11-03 14:49:31,Alarm,Alarms,None,0 Block of 6TH ST,37.781615,-122.409420,None,
2611,911_Fire,2019-04-11 18:29:57,Alarm,Alarms,None,0 Block of 6TH ST,37.781537,-122.409518,None,
3118,911_Fire,2016-01-02 23:58:10,Non Life-threatening,Medical Incident,None,0 Block of 6TH ST,37.781615,-122.409420,None,
3437,911_Fire,2019-05-21 03:08:10,Potentially Life-Threatening,Medical Incident,None,0 Block of 6TH ST,37.781615,-122.409420,None,
3701,911_Fire,2018-07-10 21:21:46,Potentially Life-Threatening,Medical Incident,None,0 Block of 6TH ST,37.781146,-122.409026,None,

,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
257,911_Fire,2017-09-29 20:16:54,Non Life-threatening,Medical Incident,None,1000 Block of POLK ST,37.786117,-122.419854,None,
370,911_Fire,2018-09-17 20:52:58,Potentially Life-Threatening,Medical Incident,None,1000 Block of POLK ST,37.786117,-122.419854,None,
470,911_Fire,2018-07-04 14:12:20,Non Life-threatening,Medical Incident,None,1000 Block of POLK ST,37.786117,-122.419854,None,
864,911_Fire,2018-02-26 11:56:53,Non Life-threatening,Medical Incident,None,1000 Block of POLK ST,37.786117,-122.419854,None,
915,911_Fire,2018-02-26 13:55:23,Potentially Life-Threatening,Medical Incident,None,1000 Block of POLK ST,37.786117,-122.419854,None,
1992,911_Fire,2016-08-23 16:03:10,Potentially Life-Threatening,Medical Incident,None,1000 Block of POLK ST,37.786117,-122.419854,None,
4029,911_Fire,2017-05-07 01:53:22,Non Life-threatening,Medical Incident,None,1000 Block of POLK ST,37.786117,-122.419854,None,
4455,911_Fire,2018-09-03 16:31:45,Non Life-threatening,Medical Incident,None,1000 Block of POLK ST,37.786117,-122.419854,None,
4623,911_Fire,2018-10-29 11:00:58,Potentially Life-Threatening,Medical Incident,None,1000 Block of POLK ST,37.786117,-122.419854,None,
5252,911_Fire,2019-02-13 01:05:16,Potentially Life-Threatening,Medical Incident,None,1000 Block of POLK ST,37.786585,-122.419949,None,

,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
814,911_Fire,2016-12-05 08:34:21,Potentially Life-Threatening,Medical Incident,None,500 Block of 5TH ST,37.777624,-122.399981,None,
1429,911_Fire,2018-12-17 12:51:55,Potentially Life-Threatening,Medical Incident,None,500 Block of 5TH ST,37.777624,-122.399981,None,
3222,911_Fire,2018-11-11 17:45:42,Potentially Life-Threatening,Medical Incident,None,500 Block of 5TH ST,37.777624,-122.399981,None,
5876,911_Fire,2018-09-12 13:05:33,Potentially Life-Threatening,Medical Incident,None,500 Block of 5TH ST,37.777624,-122.399981,None,
5891,911_Fire,2017-05-09 04:03:03,Potentially Life-Threatening,Medical Incident,None,500 Block of 5TH ST,37.777624,-122.399981,None,
7238,911_Fire,2016-03-25 21:31:10,Potentially Life-Threatening,Medical Incident,None,500 Block of 5TH ST,37.777624,-122.399981,None,
7615,911_Fire,2017-06-27 09:11:11,Potentially Life-Threatening,Medical Incident,None,500 Block of 5TH ST,37.777624,-122.399981,None,
7922,911_Fire,2019-11-11 12:56:24,Potentially Life-Threatening,Medical Incident,None,500 Block of 5TH ST,37.777624,-122.399981,None,
8229,911_Fire,2016-02-09 03:18:27,Potentially Life-Threatening,Medical Incident,None,500 Block of 5TH ST,37.777624,-122.399981,None,
8464,911_Fire,2019-09-03 20:58:58,Non Life-threatening,Medical Incident,None,500 Block of 5TH ST,37.777624,-122.399981,None,

,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
194,911_Fire,2020-06-04 22:52:11,Alarm,Alarms,None,1100 Block of MARKET ST,37.779531,-122.413543,None,
334,911_Fire,2017-10-02 16:50:57,Non Life-threatening,Medical Incident,None,1100 Block of MARKET ST,37.779531,-122.413543,None,
711,911_Fire,2018-06-16 02:56:33,Alarm,Structure Fire,None,1100 Block of MARKET ST,37.779666,-122.413711,None,
887,911_Fire,2018-05-22 19:49:33,Non Life-threatening,Medical Incident,None,1100 Block of MARKET ST,37.779666,-122.413711,None,
1553,911_Fire,2017-10-29 21:51:46,Alarm,Alarms,None,1100 Block of MARKET ST,37.779531,-122.413543,None,
1846,911_Fire,2016-04-22 09:00:34,Potentially Life-Threatening,Medical Incident,None,1100 Block of MARKET ST,37.779531,-122.413543,None,
2425,911_Fire,2018-06-03 11:46:29,Potentially Life-Threatening,Medical Incident,None,1100 Block of MARKET ST,37.779531,-122.413543,None,
2813,911_Fire,2018-05-24 19:42:29,Potentially Life-Threatening,Medical Incident,None,1100 Block of MARKET ST,37.779531,-122.413543,None,
2999,911_Fire,2018-03-21 02:32:48,Potentially Life-Threatening,Medical Incident,None,1100 Block of MARKET ST,37.779531,-122.413543,None,
3197,911_Fire,2018-11-17 18:29:23,Potentially Life-Threatening,Medical Incident,None,1100 Block of MARKET ST,37.779666,-122.413711,None,

,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
434,911_Fire,2020-03-24 15:59:39,Potentially Life-Threatening,Medical Incident,None,300 Block of EDDY ST,37.783839,-122.413776,None,
717,911_Fire,2018-06-03 08:59:24,Non Life-threatening,Medical Incident,None,300 Block of EDDY ST,37.783943,-122.412952,None,
918,911_Fire,2019-08-30 16:40:34,Potentially Life-Threatening,Medical Incident,None,300 Block of EDDY ST,37.783834,-122.412931,None,
1205,911_Fire,2017-02-03 19:57:00,Non Life-threatening,Medical Incident,None,300 Block of EDDY ST,37.783834,-122.412931,None,
1391,911_Fire,2017-08-19 06:13:52,Alarm,Structure Fire,None,300 Block of EDDY ST,37.783730,-122.413754,None,
2268,911_Fire,2017-08-29 11:23:33,Potentially Life-Threatening,Medical Incident,None,300 Block of EDDY ST,37.783839,-122.413776,None,
2337,911_Fire,2016-07-17 17:52:52,Non Life-threatening,Medical Incident,None,300 Block of EDDY ST,37.783834,-122.412931,None,
2861,911_Fire,2016-07-07 11:05:44,Potentially Life-Threatening,Medical Incident,None,300 Block of EDDY ST,37.783834,-122.412931,None,
2890,911_Fire,2017-01-22 06:05:15,Potentially Life-Threatening,Medical Incident,None,300 Block of EDDY ST,37.783834,-122.412931,None,
2955,911_Fire,2019-05-26 19:58:08,Non Life-threatening,Medical Incident,None,300 Block of EDDY ST,37.783730,-122.413754,None,

'\nFindings:\n\nHighest Freq addr:\n[\'Not associated with a specific address\', \'800 Block of MARKET ST\', \'0 Block of 6TH ST\', \'1000 Block of POLK ST\', \n\'500 Block of 5TH ST\', \'1100 Block of MARKET ST\', \'300 Block of EDDY ST\']\n\ndataSubtype  : \'311_All\'\naddress=\'Not associated with a specific address\' latitude and longitude : 0.0\nrest all are for dataSubtype  : 911_Fire\' and have status = None\n\nWithout address [lat and long : 0.0 ] records did not help us to plan for resource of safety event for specific area"\nbut it can be imputed using coordinate of city  as we can use dateTime and Category of event, source etc\n\n'

In [13]:
# Getting look and feel of data for  dataSubtype != "911_Fire"

df_tmp=df_san.loc[ df_san['dataSubtype']!="911_Fire", ['dataType', 'dataSubtype', 'dateTime', 'category', 'subcategory', 'status', 'address', 'latitude', 'longitude', 'source']]    
display(df_tmp.head(10))

,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source
1,Safety,311_All,2018-07-08 15:00:27,Street and Sidewalk Cleaning,Bulky Items,Closed,"1536 SACRAMENTO ST, SAN FRANCISCO, CA, 94109",37.791887,-122.418188,Mobile/Open311
2,Safety,311_All,2016-06-28 13:12:28,General Request - COUNTY CLERK,customer_callback,Closed,Not associated with a specific address,0.000000,0.000000,Phone
3,Safety,311_All,2017-03-03 09:34:49,Temporary Sign Request,Temporary Sign Request for Other_Event_Type,Closed,"2190 NORTH POINT ST, SAN FRANCISCO, CA, 94123",37.802853,-122.443245,Phone
5,Safety,311_All,2020-04-10 12:45:00,Street and Sidewalk Cleaning,Medical Waste,Closed,"4 TURK ST, SAN FRANCISCO, CA, 94102",37.783520,-122.409487,Web
10,Safety,311_All,2019-01-02 17:35:00,Street and Sidewalk Cleaning,City_garbage_can_overflowing,Closed,Intersection of BEACH ST and HYDE ST,37.806656,-122.420563,Phone
12,Safety,311_All,2016-11-18 11:56:38,General Request - DPH,complaint,Closed,"771 ELLIS ST, SAN FRANCISCO, CA, 94109",37.784036,-122.418858,Phone
13,Safety,311_All,2019-12-30 17:34:00,Parking Enforcement,Blocking_Driveway_Cite_Only,Closed,"79 REGENT ST, SAN FRANCISCO, CA, 94112",37.709805,-122.456787,Mobile/Open311
14,Safety,311_All,2016-12-25 07:46:47,Sewer Issues,Water_leak,Closed,"1650 47TH AVE, SAN FRANCISCO, CA, 94122",37.755695,-122.506508,Phone
15,Safety,311_All,2019-07-23 12:04:00,Street and Sidewalk Cleaning,General Cleaning,Closed,"180 PENNSYLVANIA AVE, SAN FRANCISCO, CA, 94107",37.764300,-122.393714,Mobile/Open311
17,Safety,311_All,2016-03-10 14:09:06,Abandoned Vehicle,Abandoned Vehicle -,Closed,"1177 BROADWAY, SAN FRANCISCO, CA, 94109",37.796486,-122.416344,Web

In [14]:
# 110073 records with 'address'=='Not associated with a specific address' 'dataSubtype' == "311_All"
# this records have both latitude=0.0 and longitude=0.0


x = df_san.loc[(df_san["dataSubtype"] == "311_All"), ["status"]].value_counts()
df_tmp = pd.DataFrame(x, columns=["cnt"])

y = df_tmp["cnt"].sum()
df_tmp["percent"] = df_tmp.cnt.apply(lambda x: x * 100 / y)


display(df_tmp)


x = df_san.loc[:, ["dataSubtype", "status"]].value_counts()
display(x)


df_tmp = df_san.loc[
    (df_san["address"] == "Not associated with a specific address")
    & (df_san["dataSubtype"] != "911_Fire"),
    [
        "dataSubtype",
        "dateTime",
        "category",
        "subcategory",
        "status",
        "address",
        "latitude",
        "longitude",
        "source",
        "extendedProperties",
    ],
]

# df_tmp.info()
# display(df_tmp)
print('status ,address == Not associated with a specific address, dataSubtype == 311_All :\n', df_tmp.groupby(["status"]).count())

# Finding 'status' are ['Closed', 'Open'] for all  'dataSubtype' == "311_All"  almost 99% are 'Closed'

            cnt    percent
status
Closed  2523986  98.832563
Open      29814   1.167437

dataSubtype  status
311_All      Closed    2523986
             Open        29814
dtype: int64

status ,address == Not associated with a specific address, dataSubtype == 311_All :
         dataSubtype  dateTime  category  subcategory  address  latitude  \
status
Closed       106213    106213    106213       106213   106213    106213
Open           3860      3860      3860         3860     3860      3860

        longitude  source  extendedProperties
status
Closed     106213  106213              106213
Open         3860    3860                3860

In [15]:
# Getting look and feel of data for  dataSubtype == "911_Fire"

# 'status','source  are missing for all  'dataSubtype'=="911_Fire"

df_tmp = df_san.loc[
    df_san["dataSubtype"] == "911_Fire",
    [
        "dataType",
        "dataSubtype",
        "dateTime",
        "category",
        "subcategory",
        "status",
        "source",
        "latitude",
        "longitude",
    ],
]
display(df_tmp.head())

print("status:", df_tmp.groupby("status").count())
print(df_tmp.groupby(["status", "source"]).count())

# Finding: 'status' are ['Closed', 'Open'] for all  'dataSubtype' == "311_All"  almost 99% are 'Closed'
# Finding: 'status','source  are missing for all  'dataSubtype'=="911_Fire"
# This field can be dropped

,dataType,dataSubtype,dateTime,category,subcategory,status,source,latitude,longitude
0,Safety,911_Fire,2018-10-02 11:54:01,Potentially Life-Threatening,Medical Incident,None,None,37.781286,-122.422187
4,Safety,911_Fire,2016-10-25 18:33:20,Potentially Life-Threatening,Medical Incident,None,None,37.737953,-122.456498
6,Safety,911_Fire,2016-05-31 21:49:12,Fire,Structure Fire,None,None,37.741488,-122.421847
7,Safety,911_Fire,2018-10-27 21:11:28,Potentially Life-Threatening,Medical Incident,None,None,37.762464,-122.435764
8,Safety,911_Fire,2016-10-31 19:22:48,Potentially Life-Threatening,Medical Incident,None,None,37.808625,-122.412524

status: Empty DataFrame
Columns: [dataType, dataSubtype, dateTime, category, subcategory, source, latitude, longitude]
Index: []
Empty DataFrame
Columns: [dataType, dataSubtype, dateTime, category, subcategory, latitude, longitude]
Index: []

In [16]:
# Getting look and feel of data for dataSubtype='911_Fire' on given date

chk_dt = ["2018-07-28 14:30:21", "2017-06-25 04:29:04", "2016-07-18 12:21:20"]
for x in chk_dt:
    print(
        f" if we don't consider requestID rest all details are same for '911_Fire' on same dateTime  : {x}"
    )
    display(
        df_san.loc[
            df_san["dateTime"] == x,
            [
                "requestId",
                "dataType",
                "dataSubtype",
                "category",
                "subcategory",
                "dateTime",
                "status",
                "address",
                "source",
                "latitude",
                "longitude",
            ],
        ]
    )

# Finding: if we don't consider requestID rest all details are same for '911_Fire' on dateTime "2018-07-28 14:30:21"
##   there are duplicates exists but different requestId

 if we don't consider requestID rest all details are same for '911_Fire' on same dateTime  : 2018-07-28 14:30:21

,requestId,dataType,dataSubtype,category,subcategory,dateTime,status,address,source,latitude,longitude
131054,318003,Safety,911_Fire,Potentially Life-Threatening,Medical Incident,2018-07-28 14:30:21,None,200 Block of KEARNY ST,None,37.790532,-122.403914
3958879,1203159,Safety,911_Fire,Potentially Life-Threatening,Medical Incident,2018-07-28 14:30:21,None,200 Block of KEARNY ST,None,37.790532,-122.403914

 if we don't consider requestID rest all details are same for '911_Fire' on same dateTime  : 2017-06-25 04:29:04

,requestId,dataType,dataSubtype,category,subcategory,dateTime,status,address,source,latitude,longitude
2993237,60198,Safety,911_Fire,Potentially Life-Threatening,Medical Incident,2017-06-25 04:29:04,None,200 Block of 13TH ST,None,37.769721,-122.417949
3958882,1203163,Safety,911_Fire,Potentially Life-Threatening,Medical Incident,2017-06-25 04:29:04,None,200 Block of 13TH ST,None,37.769721,-122.417949

 if we don't consider requestID rest all details are same for '911_Fire' on same dateTime  : 2016-07-18 12:21:20

,requestId,dataType,dataSubtype,category,subcategory,dateTime,status,address,source,latitude,longitude
459943,1115945,Safety,911_Fire,Potentially Life-Threatening,Medical Incident,2016-07-18 12:21:20,None,400 Block of 26TH AVE,None,37.781003,-122.485946
705118,511427,Safety,911_Fire,Potentially Life-Threatening,Medical Incident,2016-07-18 12:21:20,None,400 Block of 26TH AVE,None,37.781003,-122.485946
3958878,1203149,Safety,911_Fire,Potentially Life-Threatening,Medical Incident,2016-07-18 12:21:20,None,400 Block of 26TH AVE,None,37.781003,-122.485946

In [17]:
# Getting look and feel of data for   about duplicate requestID
# df_tmp=df_san.loc[ df_san['dataSubtype']=="311_All", ['requestId','dataType', 'dataSubtype', 'dateTime', 'category', 'subcategory', 'status','source','latitude','longitude']]
# display(df_tmp.loc[:,['requestId']].value_counts(ascending=False))
reqid = [1033502, 156957, 210539, 687554, 78984]
for x in reqid:
    df_tmp = df_san.loc[
        df_san["requestId"] == x,
        [
            "requestId",
            "dataSubtype",
            "dateTime",
            "category",
            "subcategory",
            "status",
            "address",
            "latitude",
            "longitude",
            "source",
            "extendedProperties",
        ],
    ]
    display(df_tmp.head(10))

    # Finding: Duplicate also exists for dataSubtype = '311_All'

,requestId,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
425853,1033502,311_All,2020-06-23 13:18:00,Street and Sidewalk Cleaning,General Cleaning,Closed,"3039 SAN BRUNO AVE, SAN FRANCISCO, CA, 94134",37.723267,-122.401634,Phone,
920008,1033502,311_All,2018-08-06 09:35:00,Street and Sidewalk Cleaning,Bulky Items,Closed,"965 MISSION ST, SAN FRANCISCO, CA, 94103",37.781544,-122.407722,Phone,
1414410,1033502,311_All,2016-08-11 23:00:06,MUNI Feedback,MUNI - Commendation,Closed,Not associated with a specific address,0.000000,0.000000,Phone,
1909776,1033502,311_All,2017-03-28 10:34:25,MUNI Feedback,MUNI - Conduct_Inattentiveness_Negligence,Closed,Not associated with a specific address,0.000000,0.000000,Web,
2404173,1033502,311_All,2020-03-10 18:06:00,Parking Enforcement,Other_Illegal_Parking,Closed,Intersection of BADEN ST and CIRCULAR AVE,37.730278,-122.439590,Mobile/Open311,
2899219,1033502,311_All,2017-10-23 00:24:00,Graffiti,Graffiti on Other_enter_additional_details_below,Closed,"2783 MISSION ST, SAN FRANCISCO, CA, 94110",37.752514,-122.418497,Mobile/Open311,
3394591,1033502,311_All,2016-01-20 12:07:59,Street and Sidewalk Cleaning,General Cleaning,Closed,Intersection of CORTLAND AVE and HILTON ST,37.739611,-122.407441,Mobile/Open311,
3889146,1033502,311_All,2016-11-08 08:02:18,Sign Repair,Sign - Defaced,Closed,Intersection of 15TH ST and SANCHEZ ST,37.766128,-122.431105,Mobile/Open311,

,requestId,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
64688,156957,311_All,2016-12-01 13:44:03,Street and Sidewalk Cleaning,General Cleaning,Closed,Intersection of HUDSON AVE and SELBY ST,37.744064,-122.396199,Web,
559046,156957,311_All,2018-10-06 19:26:26,Graffiti,Graffiti on Signal_box,Closed,Intersection of POST ST and KEARNY ST,37.788883,-122.403678,Mobile/Open311,
1053859,156957,311_All,2016-10-24 14:43:48,Encampments,Encampment Reports,Closed,Intersection of PINE ST and QUINCY ST,37.791677,-122.405360,Mobile/Open311,
1548987,156957,311_All,2019-11-08 17:00:00,Street and Sidewalk Cleaning,General Cleaning,Closed,"230 FARALLONES ST, SAN FRANCISCO, CA, 94112",37.714290,-122.460247,Web,
2043183,156957,311_All,2016-09-25 15:58:01,Street and Sidewalk Cleaning,Bulky Items,Closed,Intersection of CAYUGA AVE and DANTON ST,37.730747,-122.432272,Mobile/Open311,
2538008,156957,311_All,2020-05-21 20:13:00,Graffiti,Graffiti on Building_commercial,Closed,"791 HAIGHT ST, SAN FRANCISCO, CA, 94117",37.771417,-122.435248,Mobile/Open311,
3032903,156957,311_All,2020-07-04 21:05:44,Noise Report,Noise Issue,Closed,"2001 BAY SHORE BLVD, SAN FRANCISCO, CA, 94134",37.715217,-122.398831,Mobile/Open311,
3528801,156957,311_All,2017-01-09 20:46:38,Sign Repair,Sign - Defaced,Closed,Intersection of HYDE ST and PINE ST,37.789984,-122.417119,Mobile/Open311,

,requestId,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
86842,210539,311_All,2020-06-28 17:19:54,Street and Sidewalk Cleaning,Bulky Items,Closed,Intersection of 22ND ST and SHOTWELL ST,37.755733,-122.415475,Mobile/Open311,
581193,210539,311_All,2020-01-11 13:00:00,Graffiti,Graffiti on Signal_box,Closed,Intersection of LOMBARD ST and WEBSTER ST,37.800053,-122.434402,Phone,
1075855,210539,311_All,2018-03-19 16:01:00,Graffiti,Graffiti on City_receptacle,Closed,Intersection of STANFORD ST and TOWNSEND ST,37.780006,-122.391376,Mobile/Open311,
1570972,210539,311_All,2018-02-05 21:34:05,Graffiti,Graffiti on Mail_box,Closed,"2990 22ND ST, SAN FRANCISCO, CA, 94110",37.755804,-122.414323,Web,
2065287,210539,311_All,2018-04-09 21:30:00,MUNI Feedback,MUNI - Services_Service_Delivery_Facilities,Closed,Intersection of 4TH ST and KING ST,37.776382,-122.394096,Phone,
2560147,210539,311_All,2018-08-20 19:11:00,Sewer Issues,other,Closed,"1401 14TH AVE, SAN FRANCISCO, CA, 94122",37.761742,-122.471650,Mobile/Open311,
3054861,210539,311_All,2017-11-10 10:49:00,Street and Sidewalk Cleaning,Hazardous Materials,Closed,"1665 PLYMOUTH AVE, SAN FRANCISCO, CA, 94127",37.732216,-122.457886,Phone,
3550840,210539,311_All,2019-01-02 15:06:33,Graffiti,Graffiti on Fire_Police_Callbox,Closed,Intersection of STANYAN ST and FREDERICK ST,37.766367,-122.452961,Mobile/Open311,

,requestId,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
283327,687554,311_All,2019-07-07 13:18:00,Street and Sidewalk Cleaning,General Cleaning,Closed,Intersection of BALBOA ST and 11TH AVE,37.776989,-122.469360,Phone,
777709,687554,311_All,2019-07-13 09:35:00,Street and Sidewalk Cleaning,Medical Waste,Closed,"1399 POTRERO AVE, SAN FRANCISCO, CA, 94110",37.751116,-122.406021,Mobile/Open311,
1271900,687554,311_All,2018-05-30 08:19:48,Homeless Concerns,Individual Concerns,Closed,"2303 MARKET ST, SAN FRANCISCO, CA, 94114",37.763953,-122.433195,Mobile/Open311,
1767295,687554,311_All,2020-03-12 12:18:00,Parking Enforcement,Blocking_Driveway_Cite_Only,Closed,"641 PERALTA AVE, SAN FRANCISCO, CA, 94110",37.742523,-122.408576,Web,
2261944,687554,311_All,2017-09-01 02:02:59,Street and Sidewalk Cleaning,Bulky Items,Closed,"1315 LEAVENWORTH ST, SAN FRANCISCO, CA, 94109",37.793204,-122.416382,Mobile/Open311,
2756572,687554,311_All,2018-07-09 10:04:00,Graffiti,Graffiti on Building_residential,Closed,"3347 24TH ST, SAN FRANCISCO, CA, 94110",37.752050,-122.419471,Mobile/Open311,
3251425,687554,311_All,2018-05-11 09:30:00,Noise Report,entertainment,Closed,"1723 POLK ST, SAN FRANCISCO, CA, 94109",37.792734,-122.421460,Web,
3747119,687554,311_All,2019-02-25 10:26:00,Street and Sidewalk Cleaning,General Cleaning,Closed,"326 PROSPECT AVE, SAN FRANCISCO, CA, 94110",37.740918,-122.420468,Web,

,requestId,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
32606,78984,311_All,2019-03-30 13:32:00,General Request - TIDA,request_for_service,Closed,Not associated with a specific address,0.000000,0.000000,Phone,
526974,78984,311_All,2019-08-02 08:00:00,Street and Sidewalk Cleaning,General Cleaning,Closed,Intersection of SPRUCE ST and MAYFAIR DR,37.785721,-122.453255,Phone,
1021760,78984,311_All,2018-03-09 12:11:00,Graffiti,Graffiti on City_receptacle,Closed,"2050 VAN NESS AVE, SAN FRANCISCO, CA, 94109",37.794696,-122.422624,Web,
1516887,78984,311_All,2016-10-05 18:02:20,Street and Sidewalk Cleaning,Bulky Items,Closed,Intersection of OAK ST and SHRADER ST,37.771103,-122.452270,Mobile/Open311,
2011022,78984,311_All,2017-05-25 17:01:53,Streetlights,Streetlight - Other,Closed,"404 ANDOVER ST, SAN FRANCISCO, CA, 94110",37.738201,-122.416649,Mobile/Open311,
2505997,78984,311_All,2019-08-02 23:05:00,Encampments,Encampment Reports,Closed,"50 MCCOPPIN ST, SAN FRANCISCO, CA, 94103",37.771803,-122.421281,Mobile/Open311,
3000928,78984,311_All,2017-10-13 18:29:00,Street and Sidewalk Cleaning,Bulky Items,Closed,"82 DOUGLASS ST, SAN FRANCISCO, CA, 94114",37.762498,-122.439594,Mobile/Open311,
3496985,78984,311_All,2019-05-05 08:44:36,Street and Sidewalk Cleaning,Bulky Items,Closed,"3179 23RD ST, SAN FRANCISCO, CA, 94110",37.753929,-122.415950,Mobile/Open311,

# get profile report for  "911_Fire"  without requestID
"""
df_tmp=df_san.loc[ df_san['dataSubtype']=="911_Fire", ['dataType', 'dataSubtype', 'dateTime', 'category', 'subcategory', 'status', 'address', 'latitude', 'longitude', 'source', 'extendedProperties']].reset_index()
df_tmp_911_Fire_profile = ProfileReport(df_tmp, title="df_san_911_Fire Profiling Report" ,  progress_bar=True ,config_file="config.yaml")
df_tmp.info()
"""
# get profile report for  "911_Fire"  without requestID to indify duplicate records
"""
df_tmp.drop(['df_index'], axis=1, inplace=True)
df_tmp.info()
df_tmp_911_Fire_profile = ProfileReport(df_tmp, title="df_san_911_Fire Profiling Report" ,  progress_bar=True ,config_file="config.yaml")
df_tmp_911_Fire_profile.config.html.minify_html = False
df_tmp_911_Fire_profile.to_file("df_san_911_Fire_profile_report.html")
"""

In [18]:
# get profile report for  "911_Fire"  without requestID  duplicate records for sample dates
"""
Sample with duplicate Counts at the end
--------------------------------------------
dataType	dataSubtype	dateTime	category	subcategory	address	latitude	longitude	extendedProperties	# duplicates
44238	Safety	911_Fire	2016-06-18 14:19:13	Fire	Structure Fire	3300 Block of MISSION ST	37.743605	-122.421251		83
436386	Safety	911_Fire	2020-05-23 04:11:30	Fire	Structure Fire	200 Block of JEFFERSON ST	37.808168	-122.416635		72
218707	Safety	911_Fire	2018-03-17 19:23:33	Fire	Structure Fire	600 Block of UNION ST	37.800223	-122.410510		58
143579	Safety	911_Fire	2017-06-16 13:05:08	Fire	Structure Fire	1300 Block of DONNER AVE	37.721745	-122.389218		57

"""


chk_dt = ["2016-06-18 14:19:13","2017-06-16 13:05:08","2018-03-17 19:23:33","2020-05-23 04:11:30"]
print(chk_dt)
for x in chk_dt:
    df_tmp = df_san.loc[  (df_san['dateTime']==x) & ( df_san['dataSubtype']=="911_Fire") , ['requestId','dataType', 'dataSubtype', 'dateTime', 'category', 'subcategory', 'status', 'address', 'latitude', 'longitude', 'source', 'extendedProperties']]
    print(f" for date: {x}")
    display(df_tmp.head(100))

['2016-06-18 14:19:13', '2017-06-16 13:05:08', '2018-03-17 19:23:33', '2020-05-23 04:11:30']
 for date: 2016-06-18 14:19:13

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
52189,126377,Safety,911_Fire,2016-06-18 14:19:13,Fire,Structure Fire,None,3300 Block of MISSION ST,37.743605,-122.421251,None,
54586,132288,Safety,911_Fire,2016-06-18 14:19:13,Fire,Structure Fire,None,3300 Block of MISSION ST,37.743605,-122.421251,None,
71768,174253,Safety,911_Fire,2016-06-18 14:19:13,Fire,Structure Fire,None,3300 Block of MISSION ST,37.743605,-122.421251,None,
108755,264079,Safety,911_Fire,2016-06-18 14:19:13,Fire,Structure Fire,None,3300 Block of MISSION ST,37.743605,-122.421251,None,
131213,318432,Safety,911_Fire,2016-06-18 14:19:13,Fire,Structure Fire,None,3300 Block of MISSION ST,37.743605,-122.421251,None,
...,...,...,...,...,...,...,...,...,...,...,...,...
3803264,824523,Safety,911_Fire,2016-06-18 14:19:13,Fire,Structure Fire,None,3300 Block of MISSION ST,37.743605,-122.421251,None,
3825283,878321,Safety,911_Fire,2016-06-18 14:19:13,Fire,Structure Fire,None,3300 Block of MISSION ST,37.743605,-122.421251,None,
3860024,962705,Safety,911_Fire,2016-06-18 14:19:13,Fire,Structure Fire,None,3300 Block of MISSION ST,37.743605,-122.421251,None,
3884853,1023039,Safety,911_Fire,2016-06-18 14:19:13,Fire,Structure Fire,None,3300 Block of MISSION ST,37.743605,-122.421251,None,
3889879,1035181,Safety,911_Fire,2016-06-18 14:19:13,Fire,Structure Fire,None,3300 Block of MISSION ST,37.743605,-122.421251,None,

 for date: 2017-06-16 13:05:08

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
55745,135160,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
58244,141218,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
97565,236898,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
149500,363014,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
208604,506654,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
270417,656561,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
292783,710714,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
327513,794744,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
376656,914699,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
421542,1022909,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
527969,81378,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
619849,304441,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
716359,538788,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
832417,821045,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
953662,1115393,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
960869,1133208,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
1148699,388302,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
1151205,394404,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
1235338,599130,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
1250285,635213,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
1252838,641328,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
1275169,695480,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
1285056,719516,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
1287481,725362,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
1507914,57138,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
1616750,321760,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
1696076,514159,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
1794478,753920,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
1871286,940437,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
1913678,1043065,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
1925875,1073264,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
1943081,1115428,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
1957767,1151333,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
2086194,261448,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
2091079,273317,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
2274287,717514,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
2299199,777735,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
2559041,207784,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
2702807,556954,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
2742352,653319,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
2786787,761083,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
2791752,773123,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
2806622,809323,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
2848728,911261,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
2908063,1055208,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
2974672,15254,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
3043788,183505,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
3075861,261832,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
3085677,285855,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
3137434,411862,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
3209689,586043,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
3276552,748098,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
3375911,988423,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
3586640,297541,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
3636080,418056,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
3670856,502455,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,
3722876,628659,Safety,911_Fire,2017-06-16 13:05:08,Fire,Structure Fire,None,1300 Block of DONNER AVE,37.721745,-122.389218,None,

 for date: 2018-03-17 19:23:33

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
1407,3290,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
46091,111466,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
70504,171251,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
90326,219230,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
188732,458760,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
196216,476693,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
238283,578366,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
312566,758901,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
325043,788899,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
391775,951033,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
406731,987199,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
414180,1005126,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
419144,1017101,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
426473,1034985,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
508110,33279,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
525614,75569,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
530497,87467,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
543011,117815,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
552775,141796,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
704045,508788,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
768345,664872,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
837529,833343,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
924060,1043313,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
943794,1091487,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
1017809,69339,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
1050200,147898,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
1106909,286131,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
1156284,406759,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
1272725,689593,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
1394278,984383,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
1414049,1032599,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
1658741,424173,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
1752660,651779,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
1891566,989037,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
1913753,1043231,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
2009561,75336,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
2202602,543309,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
2408051,1042763,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
2536662,153712,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
2599008,304528,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
2618731,352778,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
2683082,509098,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
2705333,563155,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
2735059,635551,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
2804187,803440,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
2913222,1067430,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
3046270,189617,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
3187529,532133,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
3445819,1157473,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
3537363,177656,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
3606591,345851,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
3650940,454205,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
3660914,478331,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
3703061,580694,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
3784646,779046,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
3804423,827451,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
3876113,1001858,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,
3883561,1019887,Safety,911_Fire,2018-03-17 19:23:33,Fire,Structure Fire,None,600 Block of UNION ST,37.800223,-122.41051,None,

 for date: 2020-05-23 04:11:30

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
44986,108777,Safety,911_Fire,2020-05-23 04:11:30,Fire,Structure Fire,None,200 Block of JEFFERSON ST,37.808168,-122.416635,None,
123749,300408,Safety,911_Fire,2020-05-23 04:11:30,Fire,Structure Fire,None,200 Block of JEFFERSON ST,37.808168,-122.416635,None,
136218,330657,Safety,911_Fire,2020-05-23 04:11:30,Fire,Structure Fire,None,200 Block of JEFFERSON ST,37.808168,-122.416635,None,
214964,521781,Safety,911_Fire,2020-05-23 04:11:30,Fire,Structure Fire,None,200 Block of JEFFERSON ST,37.808168,-122.416635,None,
264460,641907,Safety,911_Fire,2020-05-23 04:11:30,Fire,Structure Fire,None,200 Block of JEFFERSON ST,37.808168,-122.416635,None,
...,...,...,...,...,...,...,...,...,...,...,...,...
3664755,487718,Safety,911_Fire,2020-05-23 04:11:30,Fire,Structure Fire,None,200 Block of JEFFERSON ST,37.808168,-122.416635,None,
3783509,776336,Safety,911_Fire,2020-05-23 04:11:30,Fire,Structure Fire,None,200 Block of JEFFERSON ST,37.808168,-122.416635,None,
3815428,854606,Safety,911_Fire,2020-05-23 04:11:30,Fire,Structure Fire,None,200 Block of JEFFERSON ST,37.808168,-122.416635,None,
3835268,902785,Safety,911_Fire,2020-05-23 04:11:30,Fire,Structure Fire,None,200 Block of JEFFERSON ST,37.808168,-122.416635,None,
3857616,956918,Safety,911_Fire,2020-05-23 04:11:30,Fire,Structure Fire,None,200 Block of JEFFERSON ST,37.808168,-122.416635,None,

# get profile report for  "311_All"  without requestID
"""
df_tmp=df_san.loc[ df_san['dataSubtype']=="311_All", ['dataType', 'dataSubtype', 'dateTime', 'category', 'subcategory', 'status', 'address', 'latitude', 'longitude', 'source', 'extendedProperties']].reset_index()
df_tmp_311_All_profile = ProfileReport(df_tmp, title="df_san_311_All Profiling Report" ,  progress_bar=True ,config_file="config.yaml")
df_tmp.info()
"""

# get profile report for  "311_All"  without requestID to indify duplicate records

"""
df_tmp.drop(['df_index'], axis=1, inplace=True)
df_tmp.info()
df_tmp_311_All_profile = ProfileReport(df_tmp, title="df_san_311_All Profiling Report" ,  progress_bar=True ,config_file="config.yaml")
df_tmp_311_All_profile.config.html.minify_html = False
df_tmp_311_All_profile.to_file("df_san_311_All_profile_report.html")


"""

In [19]:
# get profile report for  "311_All"  without requestID  duplicate records for sample dates
"""
Sample with duplicate Counts at the end
--------------------------------------------
dataType	dataSubtype	dateTime	category	subcategory	status	address	latitude	longitude	source	extendedProperties	# duplicates
1133	Safety	311_All	2019-05-15 21:03:00	Abandoned Vehicle	Abandoned Vehicles	Closed	434 ELLIS ST, SAN FRANCISCO, CA, 94102	37.785076	-122.413477	Web		10
1135	Safety	311_All	2019-05-15 21:04:00	Abandoned Vehicle	Abandoned Vehicles	Closed	434 ELLIS ST, SAN FRANCISCO, CA, 94102	37.785076	-122.413477	Web		10
1137	Safety	311_All	2019-05-15 21:05:00	Abandoned Vehicle	Abandoned Vehicles	Closed	434 ELLIS ST, SAN FRANCISCO, CA, 94102	37.785076	-122.413477	Web		10
1279	Safety	311_All	2019-09-05 00:22:00	MUNI Feedback	MUNI - Conduct_Inattentiveness_Negligence	Closed	Not associated with a specific address	0.000000	0.000000	Web		6

"""


chk_dt = [
    "2019-05-15 21:03:00",
    "2019-05-15 21:04:00",
    "2019-05-15 21:05:00",
    "2019-09-05 00:22:00",
]
print(chk_dt)
for x in chk_dt:
    df_tmp = df_san.loc[
        (df_san["dateTime"] == x) & (df_san["dataSubtype"] == "311_All"),
        [
            "requestId",
            "dataType",
            "dataSubtype",
            "dateTime",
            "category",
            "subcategory",
            "status",
            "address",
            "latitude",
            "longitude",
            "source",
            "extendedProperties",
        ],
    ].sort_values(by=["dateTime", "category", "subcategory", "latitude", "longitude"])
    print(f" for date: {x}")
    display(df_tmp.head(10))

['2019-05-15 21:03:00', '2019-05-15 21:04:00', '2019-05-15 21:05:00', '2019-09-05 00:22:00']
 for date: 2019-05-15 21:03:00

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
2674435,487883,Safety,311_All,2019-05-15 21:03:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"342 ELLIOT ST, SAN FRANCISCO, CA, 94134",37.713754,-122.411724,Mobile/Open311,
3955656,1195254,Safety,311_All,2019-05-15 21:03:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"251 ELLSWORTH ST, SAN FRANCISCO, CA, 94110",37.739563,-122.414495,Web,
316892,769292,Safety,311_All,2019-05-15 21:03:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"1333 DIAMOND ST, SAN FRANCISCO, CA, 94131",37.746680,-122.435833,Web,
2692307,531494,Safety,311_All,2019-05-15 21:03:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"17 WARREN DR, SAN FRANCISCO, CA, 94131",37.754941,-122.456256,Web,
764947,656737,Safety,311_All,2019-05-15 21:03:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"415 DE HARO ST, SAN FRANCISCO, CA, 94103",37.764593,-122.401311,Web,
3831885,894653,Safety,311_All,2019-05-15 21:03:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"614 43RD AVE, SAN FRANCISCO, CA, 94121",37.776949,-122.503659,Web,
163036,396115,Safety,311_All,2019-05-15 21:03:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"69 DR CARLTON B GOODLETT PL, SAN FRANCISCO, CA...",37.779840,-122.418897,Web,
1011631,54349,Safety,311_All,2019-05-15 21:03:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"69 DR CARLTON B GOODLETT PL, SAN FRANCISCO, CA...",37.779840,-122.418897,Web,
1613029,312804,Safety,311_All,2019-05-15 21:03:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"69 DR CARLTON B GOODLETT PL, SAN FRANCISCO, CA...",37.779840,-122.418897,Web,
2320311,828865,Safety,311_All,2019-05-15 21:03:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"69 DR CARLTON B GOODLETT PL, SAN FRANCISCO, CA...",37.779840,-122.418897,Web,

 for date: 2019-05-15 21:04:00

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
676398,441699,Safety,311_All,2019-05-15 21:04:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"69 DR CARLTON B GOODLETT PL, SAN FRANCISCO, CA...",37.779840,-122.418897,Web,
1808941,789181,Safety,311_All,2019-05-15 21:04:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"69 DR CARLTON B GOODLETT PL, SAN FRANCISCO, CA...",37.779840,-122.418897,Web,
3197001,555017,Safety,311_All,2019-05-15 21:04:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"69 DR CARLTON B GOODLETT PL, SAN FRANCISCO, CA...",37.779840,-122.418897,Web,
3907903,1079100,Safety,311_All,2019-05-15 21:04:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"69 DR CARLTON B GOODLETT PL, SAN FRANCISCO, CA...",37.779840,-122.418897,Web,
2003007,59468,Safety,311_All,2019-05-15 21:04:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"455 GOLDEN GATE AVE, SAN FRANCISCO, CA, 94102",37.781349,-122.418019,Web,
906859,1001187,Safety,311_All,2019-05-15 21:04:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"434 ELLIS ST, SAN FRANCISCO, CA, 94102",37.785076,-122.413477,Web,
1035122,111400,Safety,311_All,2019-05-15 21:04:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"434 ELLIS ST, SAN FRANCISCO, CA, 94102",37.785076,-122.413477,Web,
1230305,587048,Safety,311_All,2019-05-15 21:04:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"434 ELLIS ST, SAN FRANCISCO, CA, 94102",37.785076,-122.413477,Web,
1391735,978176,Safety,311_All,2019-05-15 21:04:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"434 ELLIS ST, SAN FRANCISCO, CA, 94102",37.785076,-122.413477,Web,
1619090,327646,Safety,311_All,2019-05-15 21:04:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"434 ELLIS ST, SAN FRANCISCO, CA, 94102",37.785076,-122.413477,Web,

 for date: 2019-05-15 21:05:00

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
548309,130877,Safety,311_All,2019-05-15 21:05:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"69 DR CARLTON B GOODLETT PL, SAN FRANCISCO, CA...",37.779840,-122.418897,Web,
2807187,810670,Safety,311_All,2019-05-15 21:05:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"69 DR CARLTON B GOODLETT PL, SAN FRANCISCO, CA...",37.779840,-122.418897,Web,
3535363,172774,Safety,311_All,2019-05-15 21:05:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"69 DR CARLTON B GOODLETT PL, SAN FRANCISCO, CA...",37.779840,-122.418897,Web,
3824499,876356,Safety,311_All,2019-05-15 21:05:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"69 DR CARLTON B GOODLETT PL, SAN FRANCISCO, CA...",37.779840,-122.418897,Web,
2571255,237394,Safety,311_All,2019-05-15 21:05:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"455 GOLDEN GATE AVE, SAN FRANCISCO, CA, 94102",37.781349,-122.418019,Web,
234890,570068,Safety,311_All,2019-05-15 21:05:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"434 ELLIS ST, SAN FRANCISCO, CA, 94102",37.785076,-122.413477,Web,
564219,169509,Safety,311_All,2019-05-15 21:05:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"434 ELLIS ST, SAN FRANCISCO, CA, 94102",37.785076,-122.413477,Web,
613988,290130,Safety,311_All,2019-05-15 21:05:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"434 ELLIS ST, SAN FRANCISCO, CA, 94102",37.785076,-122.413477,Web,
942834,1089148,Safety,311_All,2019-05-15 21:05:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"434 ELLIS ST, SAN FRANCISCO, CA, 94102",37.785076,-122.413477,Web,
1083747,229751,Safety,311_All,2019-05-15 21:05:00,Abandoned Vehicle,Abandoned Vehicles,Closed,"434 ELLIS ST, SAN FRANCISCO, CA, 94102",37.785076,-122.413477,Web,

 for date: 2019-09-05 00:22:00

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
1449344,1118067,Safety,311_All,2019-09-05 00:22:00,MUNI Feedback,MUNI - Conduct_Inattentiveness_Negligence,Closed,Not associated with a specific address,0.0,0.0,Web,
1617434,323444,Safety,311_All,2019-09-05 00:22:00,MUNI Feedback,MUNI - Conduct_Inattentiveness_Negligence,Closed,Not associated with a specific address,0.0,0.0,Web,
2557278,203495,Safety,311_All,2019-09-05 00:22:00,MUNI Feedback,MUNI - Conduct_Inattentiveness_Negligence,Closed,Not associated with a specific address,0.0,0.0,Web,
2594734,294036,Safety,311_All,2019-09-05 00:22:00,MUNI Feedback,MUNI - Conduct_Inattentiveness_Negligence,Closed,Not associated with a specific address,0.0,0.0,Web,
3183186,521717,Safety,311_All,2019-09-05 00:22:00,MUNI Feedback,MUNI - Conduct_Inattentiveness_Negligence,Closed,Not associated with a specific address,0.0,0.0,Web,
3403944,1056351,Safety,311_All,2019-09-05 00:22:00,MUNI Feedback,MUNI - Conduct_Inattentiveness_Negligence,Closed,Not associated with a specific address,0.0,0.0,Web,

In [20]:
# Exploring  "source","dataSubtype"

x = df_san.loc[:, [ "source","dataSubtype"]].value_counts(dropna=False)
df_tmp=pd.DataFrame(x,columns=['cnt'])
df_tmp['percent'] = df_tmp.cnt.apply(lambda x: x * 100 / y)
#df_tmp=df_tmp.unstack(level=0)
print(type(df_tmp))
display(df_tmp)

#y = df_tmp["cnt"].sum()
#df_tmp["percent"] = df_tmp.cnt.apply(lambda x: x * 100 / y)

#Findings:
# Source field is missing for all '911_Fire' datasubtype
# Source field is heavily contributed for all '311_All' datasubtype via 
# Mobile/Open311	311_All	1339650	52.457123
# Phone	            311_All	773478	30.287337
# Web	            311_All	353785	13.853277
# Rest of all source ['Integrated Agency' ,'Twitter','Other Department','Email','Mail']can be combined in one as 'Other'

<class 'pandas.core.frame.DataFrame'>

                                   cnt    percent
source            dataSubtype
NaN               911_Fire     1405089  55.019540
Mobile/Open311    311_All      1339650  52.457123
Phone             311_All       773478  30.287337
Web               311_All       353785  13.853277
Integrated Agency 311_All        71120   2.784870
Twitter           311_All        12549   0.491385
Other Department  311_All         3207   0.125578
Email             311_All           10   0.000392
Mail              311_All            1   0.000039

In [21]:
# Exploring extendedProperties
x = df_san.loc[:, ["extendedProperties"]].value_counts(dropna=False)

display(x)
# Finding: field 'extendedProperties' is missing for all records and can be dropped

extendedProperties
                      3958889
dtype: int64

# Step : 2 Identify potential data quality issues, including:
#### missing values (or empty values for string columns)
#### columns that contain no information
#### columns that are of the wrong type (e.g. numbers encoded as strings).
#### rows with identical content (duplicate rows)  : df.drop_duplicates(subset=None , keep='first', inplace=True)
### safety_SanFrancisco.csv


## Conclusion for Saf Fransisco (SF) File:

1.  Finding all values are same in 'dataType' column i.e. constant column and can be dropped
2.  Field 'extendedProperties' is missing for all records and can be dropped
3.  There are many duplicate 'requestID' field value. If we remove requestID, we find lot of duplicate records for same datetime. (Field requestId doesn't seem to have any value/link and can be dropped - For now keeping it)

4.  Finding : Distinct category counts : 96 but Top 15 category contributes to  %: 89.15271186629289 [4933 category are "None"]

5.  Finding: 145 subcategory records occured only once with percentage: 0.000025
6.  Finding: 193 subcategory records occured only once or twice with percentage: 0.000025 to 0.000051
7.  110073 records with 'address'=='Not associated with a specific address' 'dataSubtype' != "911_Fire"   
    i.e.  'dataSubtype' = '311_All this records have both latitude=0.0 and longitude=0.0 (37.7749° N, 122.4194° W of san fransisco)
    Note: Without address records did not help us to plan for resource of safety event for specific area

8.  Finding 'status' are ['Closed', 'Open'] for all  'dataSubtype' == "311_All"  almost 99% are 'Closed'
    'status','source  are missing for all  'dataSubtype'=="911_Fire" missing value can be imputed with some value

# step 3
### 1. columns that contain constant values removed

### 2. date columns converted to a datetime type

### 3. categorical columns (that have less than a few 100 unique string values) converted to categorical data type, in order to use less memory.

### 4. rows with identical values removed. This can be achieved with the DataFrame.drop_duplicates method.    It is recommended to write a python function with these steps which will be re-used later.

In [22]:
# cleaning the file "safety-SanFrancisco"

# df_san["dateTime"] = pd.to_datetime(    df_san["dateTime"] )  #already done
drop_field_list_df_san = ["dataType", "extendedProperties"]  # , "requestId"
# dropping required fields
df_san_2 = df_san.drop(drop_field_list_df_san, axis=1)  # later inplace=True

# fields  can be converted into 'pd.Categorical' : ["dataSubtype", "category", "subcategory", "source", "status"]
for x in ["dataSubtype", "category", "subcategory", "source", "status"]:
    df_san_2[x] = pd.Categorical(df_san_2[x])

# df_san_2.info()

# Data Transformation required:
# we will apply transformation in fields like  "category", "subcategory", "source", "status" later
# we need to update longitude and latitude =0.0 values, may be we can impute it with state san_fransisco
# (latitude= 37.733795, longitude=-122.446747)
# status='Other' and source='Missing' where the values are missing.
# Rest of all source ['Twitter','Other Department','Email','Mail']can be combined in one as 'Other'

In [23]:
# dropping duplicates

col_list = df_san_2.columns.values.tolist()
col_list = [x for x in col_list if x.lower() != "requestid"]
df_san_2.drop_duplicates(inplace=True, subset=col_list, keep="first")
# df_san_2 = df_san_2.drop_duplicates()
df_san_2.reset_index(inplace=True)
if "index" in df_san_2:
    df_san_2.drop(["index"], axis=1, inplace=True)
# 737,328 records dropped as duplicates
print(df_san_2.columns.values)

['requestId' 'dataSubtype' 'dateTime' 'category' 'subcategory' 'status'
 'address' 'latitude' 'longitude' 'source']

In [24]:
ProfileReport(df_san_2, title="df_san_2 Profiling Report" ,  progress_bar=True ,minimal=True).to_file("df_san_2_profile_report.html")

Summarize dataset:   0%|          | 0/18 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [25]:
filedir = os.path.join(os.getcwd(), "data")
filedir = os.path.join(filedir, "out")
fl = "safety-SanFrancisco-1.parquet"
# fl = "safety-Nyc.parquet"
fl_name = os.path.join(filedir, fl)
# Writing dataframe to  parquet file "safety-SanFrancisco-1.parquet"

df_san_2.to_parquet(fl_name, compression="snappy")

In [26]:
#House keeping so we can conserve memory

df_lst=['df_san', 'df_san_2', 'df_tmp']
del df_lst

# Step-4. Examine the data for New-York city

### We can similarly analyze the New-York city data

In [27]:
filedir = os.path.join(os.getcwd(), "data")
filedir = os.path.join(filedir, "in")

fl = "safety-Nyc.parquet"
fl_name = os.path.join(filedir, fl)
# reading New-York City file
pf_nyc = pq.read_table(fl_name)
df_nyc = pf_nyc.to_pandas()

print(" 'safety-Nyc.parquet' file is loaded in pandas dataframe:  df_nyc ")

print(f"Shape of df_nyc : {df_nyc.shape}")

print(df_nyc.info())
print("df_nyc.index.name :", df_nyc.index.name)
print(f"column list for df_nyc : \n {list(df_nyc.columns)}")

# New-York City Safety Events sample records

df_nyc.style.set_table_styles(
    [{"selector": "tr:hover", "props": "background-color: yellow; font-size: 1em;"}]
)
display(df_nyc.head(4))

 'safety-Nyc.parquet' file is loaded in pandas dataframe:  df_nyc
Shape of df_nyc : (11305633, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11305633 entries, 0 to 11305632
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   requestId           int64
 1   dataType            object
 2   dataSubtype         object
 3   dateTime            object
 4   category            object
 5   subcategory         object
 6   status              object
 7   address             object
 8   latitude            float64
 9   longitude           float64
 10  source              object
 11  extendedProperties  object
dtypes: float64(2), int64(1), object(9)
memory usage: 1.0+ GB
None
df_nyc.index.name : None
column list for df_nyc :
 ['requestId', 'dataType', 'dataSubtype', 'dateTime', 'category', 'subcategory', 'status', 'address', 'latitude', 'longitude', 'source', 'extendedProperties']

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
0,2,Safety,311_All,2020-07-05 23:40:11,UNSANITARY CONDITION,PESTS,Open,640 WEST 139 STREET,40.823048,-73.954211,None,
1,5,Safety,311_All,2016-08-06 00:00:00,Standing Water,Puddle in Ground,Closed,2216 VICTORY BOULEVARD,40.612035,-74.137318,None,
2,7,Safety,311_All,2018-04-18 08:49:35,UNSANITARY CONDITION,PESTS,Closed,383 SOUTH 3 STREET,40.708739,-73.952169,None,
3,8,Safety,311_All,2018-05-30 17:20:11,ELECTRIC,WIRING,Closed,531 WEST 48 STREET,40.764133,-73.994354,None,

In [28]:
# Missing for all colums
df_nyc.isna().sum()

requestId                    0
dataType                     0
dataSubtype                  0
dateTime                     0
category                     0
subcategory              58757
status                       0
address                1598289
latitude                759223
longitude               759223
source                11305633
extendedProperties           0
dtype: int64

In [29]:
display(df_nyc.loc[df_nyc["subcategory"].isna() == True, :].head(3))
display(df_nyc.loc[df_nyc["address"].isna() == True, :].head(3))
display(df_nyc.loc[df_nyc["latitude"].isna() == True, :].head(3))

# Finding 58757 subcategory have value None., All 'source' have value None
# all 'extendedProperties' have value blank, 1598289 'address' have value None
# 759223 latitude and longitude are NaN

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
37,61,Safety,311_All,2017-11-15 08:08:00,FATF,None,Closed,63 FLUSHING AVENUE,40.698020,-73.974986,None,
142,268,Safety,311_All,2019-07-29 16:36:28,Homeless Person Assistance,None,Closed,WEST 47 STREET BIKE PATH,40.759200,-73.984619,None,
1172,2394,Safety,311_All,2019-09-12 19:43:55,Homeless Person Assistance,None,Closed,1047 MANHATTAN AVENUE,40.734643,-73.955001,None,

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
8,15,Safety,311_All,2018-02-10 10:05:00,Traffic Signal Condition,Controller,Closed,None,NaN,NaN,None,
16,28,Safety,311_All,2017-08-08 14:04:00,Street Light Condition,Street Light Out,Pending,None,NaN,NaN,None,
19,33,Safety,311_All,2019-12-05 14:03:00,Traffic Signal Condition,Speed Board Sign,Closed,None,40.686447,-73.854841,None,

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
8,15,Safety,311_All,2018-02-10 10:05:00,Traffic Signal Condition,Controller,Closed,None,NaN,NaN,None,
16,28,Safety,311_All,2017-08-08 14:04:00,Street Light Condition,Street Light Out,Pending,None,NaN,NaN,None,
56,96,Safety,311_All,2018-07-27 09:03:46,DOF Property - Reduction Issue,Personal STAR Exemption,Closed,None,NaN,NaN,None,

In [30]:
# List of columns and data types are same for both city input files
### Generating profile report for New York file

# converting dateTime  column from object dType to datetime

# df_nyc['dateTime'] = df_nyc['dateTime'].astype('datetime64[ns]') # works only with string
df_nyc["dateTime"] = pd.to_datetime(  df_nyc["dateTime"] )  # can convert both int and string to datetime
df_nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11305633 entries, 0 to 11305632
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   requestId           int64
 1   dataType            object
 2   dataSubtype         object
 3   dateTime            datetime64[ns]
 4   category            object
 5   subcategory         object
 6   status              object
 7   address             object
 8   latitude            float64
 9   longitude           float64
 10  source              object
 11  extendedProperties  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(8)
memory usage: 1.0+ GB

In [31]:
df_nyc_profile = ProfileReport(df_nyc, title="df_nyc Profiling Report" ,  progress_bar=True ,config_file="config.yaml")
# Change the config after
df_nyc_profile.config.html.minify_html = False
df_nyc_profile.to_file("df_nyc_profile_report.html")
print("Profile report for file of New York City is generated")

Summarize dataset:   0%|          | 0/21 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Profile report for file of New York City is generated

In [32]:
display(df_nyc.head())

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
0,2,Safety,311_All,2020-07-05 23:40:11,UNSANITARY CONDITION,PESTS,Open,640 WEST 139 STREET,40.823048,-73.954211,None,
1,5,Safety,311_All,2016-08-06 00:00:00,Standing Water,Puddle in Ground,Closed,2216 VICTORY BOULEVARD,40.612035,-74.137318,None,
2,7,Safety,311_All,2018-04-18 08:49:35,UNSANITARY CONDITION,PESTS,Closed,383 SOUTH 3 STREET,40.708739,-73.952169,None,
3,8,Safety,311_All,2018-05-30 17:20:11,ELECTRIC,WIRING,Closed,531 WEST 48 STREET,40.764133,-73.994354,None,
4,9,Safety,311_All,2018-04-17 08:37:00,Missed Collection (All Materials),1 Missed Collection,Closed,41 RUMPLER COURT,40.625555,-74.142415,None,

### Profile  Report detail for NYC file

- records : 11,305,633 with 12 variable
- requestID field has 25% distinct values with 4 zero values
- dataType field is constant with one value and can be rejected.
- dataSubtype field is constant and can be rejected (However we have values for this field in SF file)
- dateTime has 75% distinct value range(2016-01-01 to 2020-07-15)  # same as San Fransisco (SF) file
- category field has 409 distinct categories which is lot more compared to SF file
- subcategory has 1441 distinct values with about 5% missing values (58757)
- status field has 11 distinct values (top 5 dominates) with no missing 
- address field almost 14% missing values 
- Latitude and Longitude almost 6.7% missing (0) values
- source	100% Missing and can be dropped (However in SF file we have values populated for this field)
- extendedProperties constant and can be dropped

In [33]:
# Getting look and feel of data

print("Range for dateTime column: as datetime_is_numeric = False and then True  \n")
print(df_nyc["dateTime"].describe(datetime_is_numeric=False))
print(df_nyc["dateTime"].describe(datetime_is_numeric=True))
display(df_nyc[["requestId", "category", "status", "dateTime"]].head())
print(df_nyc.info())

Range for dateTime column: as datetime_is_numeric = False and then True

C:\Users\paras\AppData\Local\Temp/ipykernel_9572/2910039619.py:4: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  print(df_nyc["dateTime"].describe(datetime_is_numeric=False))

count                11305633
unique                8676331
top       2018-08-01 00:00:00
freq                     1890
first     2016-01-01 00:00:00
last      2020-07-15 02:01:53
Name: dateTime, dtype: object
count                         11305633
mean     2018-04-06 12:26:39.258811392
min                2016-01-01 00:00:00
25%                2017-03-08 12:43:39
50%                2018-04-15 17:22:24
75%                2019-04-25 12:49:33
max                2020-07-15 02:01:53
Name: dateTime, dtype: object

   requestId                           category  status            dateTime
0          2               UNSANITARY CONDITION    Open 2020-07-05 23:40:11
1          5                     Standing Water  Closed 2016-08-06 00:00:00
2          7               UNSANITARY CONDITION  Closed 2018-04-18 08:49:35
3          8                           ELECTRIC  Closed 2018-05-30 17:20:11
4          9  Missed Collection (All Materials)  Closed 2018-04-17 08:37:00

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11305633 entries, 0 to 11305632
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   requestId           int64
 1   dataType            object
 2   dataSubtype         object
 3   dateTime            datetime64[ns]
 4   category            object
 5   subcategory         object
 6   status              object
 7   address             object
 8   latitude            float64
 9   longitude           float64
 10  source              object
 11  extendedProperties  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(8)
memory usage: 1.0+ GB
None

In [34]:
# Getting look and feel of data for column 'dataType'
display(df_nyc["dataType"].value_counts())
x = df_nyc.groupby(["dataType", "dataSubtype"], dropna=False, as_index=False).size()
print(x)
# Finding: constant value: Safety    11305633

Safety    11305633
Name: dataType, dtype: int64

  dataType dataSubtype      size
0   Safety     311_All  11305633

In [35]:
# Getting look and feel of data for column 'dataSubtype'
cnt = df_nyc['dataSubtype'].value_counts()
df_tmp = pd.DataFrame()
df_tmp['cnt']=cnt
y=df_tmp['cnt'].sum()
df_tmp['percent'] =df_tmp.cnt.apply(lambda x: x*100/y)
display(df_tmp)

# Finding:    Column is Catgorical constant and have only one category of dataSubtype = '311_All'

              cnt  percent
311_All  11305633    100.0

In [36]:
# Getting look and feel of data for column 'category'
cnt = df_nyc["category"].value_counts()
df_tmp = pd.DataFrame()
df_tmp["cnt"] = cnt
y = df_tmp["cnt"].sum()
df_tmp["percent"] = df_tmp.cnt.apply(lambda x: x * 100 / y)

print(f"Distinct category counts : {len(df_nyc['category'].unique().tolist())}")

display(df_tmp.head(92))
p = df_tmp["percent"].head(92).sum()
print(f"Top 92 category %: { p }\n")

print(f"Bottom 15  category :")
display(df_tmp.tail(15))



print("\nCounts of categories: \n")
x = df_nyc.groupby(["dataType", "category"], dropna=False, as_index=False).size()
#x.sort_values(by=['size'],ascending=False,inplace=True, na_position='first')
x=x.loc[x['size']==1,:]
print(f"Categories count which occurs only once are: { x.shape[0]}")

print("\n List of categories that appear only once : \n")
print(list(x.category))

# Finding : Distinct category counts : 409 but Top 92 category contributes to  %:  97.087
# These category in NYC file quite different from SF file and looks lot of junk values which occurs only once

Distinct category counts : 409

                             cnt   percent
Noise - Residential      1090329  9.644122
HEAT/HOT WATER            960099  8.492218
Illegal Parking           715413  6.327934
Blocked Driveway          579316  5.124136
Street Condition          407677  3.605964
...                          ...       ...
Violation of Park Rules    11814  0.104497
Smoking                    10765  0.095218
Noise - Helicopter         10205  0.090265
Litter Basket / Request    10200  0.090221
Animal in a Park            9798  0.086665

[92 rows x 2 columns]

Top 92 category %: 97.08703617037631

Bottom 15  category :

                                cnt   percent
bcd9&lt;!--esi--&gt;1ggp&lt...    1  0.000009
() { :;}; /bin/sleep 0            1  0.000009
() { :;}; /bin/sleep 11           1  0.000009
Misc. Comments69075347' or ...    1  0.000009
Misc. Comments,(select*from...    1  0.000009
Misc. Comments88909845' or ...    1  0.000009
Misc. Comments' and '1618'=...    1  0.000009
`sleep 11`                        1  0.000009
Misc. Comments' and 7702=77...    1  0.000009
Misc. Comments&quot;              1  0.000009
(select load_file('\\\\615h...    1  0.000009
http://g7orz5h9iu2sh6z332rj...    1  0.000009
../../../../WEB-INF/web.xml       1  0.000009
Misc. Comments' and (select...    1  0.000009
&lt;odb xmlns:xi=&quot;http...    1  0.000009

Counts of categories:

Categories count which occurs only once are: 122

 List of categories that appear only once :

['$(sleep 11)', '${3804*3137}', '%2e%2e%2f%2e%2e%2f%2e%2e%2f...', '%2e%2e%5c%2e%2e%5c%2e%2e%5c...', '%2fetc%2fpasswd', '%E5%98%8A%E5%98%8DX-Injecti...', '%c0%ae/%c0%ae/%c0%ae/%c0%ae...', '%c0%ae/%c0%ae/%c0%ae/WEB-IN...', '%c0%ae/%c0%ae/WEB-INF/web.xml', '%c0%ae/WEB-INF/web.xml', '%{(#dm=@ognl.OgnlContext@DE...', '%{4761*8506}', '&lt;odb xmlns:xi=&quot;http...', '&lt;vlv xmlns=&quot;http://...', "&quot;--&gt;'--&gt;`--&gt;&...", '() { :;}; /bin/sleep 0', '() { :;}; /bin/sleep 11', '() { _; } &gt;_', '(select extractvalue(xmltyp...', "(select load_file('\\\\\\\\615h...", '*)(!(objectClass=*)', '*)(objectClass=*', '.../....///.../....///.../....', '.../...//.../...//.../...//...', '..././..././..././..././......', '.../.\\.../.\\.../.\\.../.\\......', '.../Misc. Comments', '...\\./...\\./...\\./...\\./......', '...\\.\\...\\.\\...\\.\\...\\.\\......', '../../../../WEB-INF/web.xml', '../../../WEB-INF/web.xml', '../../../WEB-INF/web.xml;x=', '../../WEB-INF/web.xml', '../../WEB-INF/web.xml;x=', '../WEB-INF/web.xml', '../WEB-INF/web.xml;x=', './validate_form.php', '/./validate_form.php', '/etc/passwd', '1430*4963', '266dyrgvhg1egsyp2oq57axbm2s...', '@(9313*3464)', 'Advocate-Foreclosure', 'Asbestos/Garbage Nuisance', 'DEP Highway Condition', 'Dispatched Taxi Compliment', 'Electric', 'Fire Alarm - Replacement', 'Illegal Animal - Sold/Kept', 'Injured Wildlife', 'LEAD', 'MOLD', 'MSOTHER', 'Misc. Comments  BCC:a5glxzf...', "Misc. Comments%}dt2pq'/&quo...", 'Misc. Comments&amp;echo xjd...', 'Misc. Comments&amp;nslookup...', 'Misc. Comments&amp;ping -n ...', 'Misc. Comments&gt;  BCC:bl0...', 'Misc. Comments&quot;', 'Misc. Comments&quot;|echo 2...', 'Misc. Comments&quot;|ping -...', "Misc. Comments'", "Misc. Comments' and '1618'=...", "Misc. Comments' and '7835'=...", "Misc. Comments' and (select...", "Misc. Comments' and 6049=60...", "Misc. Comments' and 7702=77...", "Misc. Comments' waitfor del...", "Misc. Comments'&quot;`0&amp...", "Misc. Comments'(select*from...", "Misc. Comments');declare @q...", "Misc. Comments')waitfor del...", "Misc. Comments'+(function()...", "Misc. Comments'+(select loa...", "Misc. Comments'+(select*fro...", "Misc. Comments'+eval(compil...", "Misc. Comments'+sleep(20.to...", "Misc. Comments',0)waitfor d...", "Misc. Comments'.sleep(20).'", "Misc. Comments';declare @q ...", "Misc. Comments'|echo y9v6fc...", "Misc. Comments'|ping -c 21 ...", "Misc. Comments'||(select ex...", 'Misc. Comments);declare @q ...', 'Misc. Comments,(select*from...', "Misc. Comments47876391' or ...", "Misc. Comments52038737' or ...", "Misc. Comments69075347' or ...", "Misc. Comments88909845' or ...", 'Misc. Comments;declare @q v...', 'Misc. Comments]]&gt;&gt;&lt;', 'Misc. Commentseowljujfh8', 'Misc. Commentso0w3r%&gt;xb6...', 'Misc. Comments{${sleep(20)}}', 'Misc. Comments|echo 3p7wexz...', 'Misc. Comments|nslookup -q=...', 'Misc. Comments|ping -c 21 1...', 'Misc. Comments|ping -n 21 1...', "Misc. Comments}}t2v95'/&quo...", 'Open Flame Permit', 'Public Assembly - Temporary', 'Request Changes - A.S.P.', 'Trapping Pigeon', 'Water Leak', '\\windows\\win.ini', '`sleep 11`', "a'a\\'b&quot;c&gt;?&gt;%}}%%...", 'bcd9&lt;!--esi--&gt;1ggp&lt...', 'c:\\windows\\win.ini', 'c:\\windows\\win.ini Misc. Co...', "eval(compile('for x in rang...", 'file:///c:/windows/win.ini', 'g0oii1s4s5)(objectClass=*', 'hcvn1{{687*375}}gji51', 'http://g7orz5h9iu2sh6z332rj...', 'idexf3mrb7)(!(objectClass=*)', "kawn''lcgv", 'nslookup -q=cname nneyfcxgy...', 'qfix4${695*589}lixaf', 'yw97y0gi2s', "{!xmlparser v='&lt;!DOCTYPE..."]

In [37]:
# Getting look and feel of data for column 'subcategory'
cnt = df_nyc["subcategory"].value_counts()
df_tmp = pd.DataFrame()
df_tmp["cnt"] = cnt
y = df_tmp["cnt"].sum()
df_tmp["percent"] = df_tmp.cnt.apply(lambda x: x * 100 / y)

print(f"Distinct subcategory counts : {len(df_nyc['subcategory'].unique().tolist())}")

p = df_tmp["percent"].head(350).sum()
print(f"Top 350 subcategory %: { p }")

# display(df_tmp.head(100))
# display(df_tmp.loc[df_tmp["percent"] <= 1, :])


display(df_tmp.loc[df_tmp["percent"] >= 1, :])

print("\nCounts of subcategory: \n")
x = df_nyc.groupby(["dataType", "subcategory"], dropna=False, as_index=False).size()
# x.sort_values(by=['size'],ascending=False,inplace=True, na_position='first')
x = x.loc[x["size"] == 1, :]
print(f"subcategory count which occurs only once are: { x.shape[0]}")
display(x)

# Findings
# Out of  1442 distinct subcategory < 1% are account for 1424
# Top 350 subcategory %: 96.61373522745339
# Finding: 17 subcategory records occured with > 1%   (include N/A account for 1.62%)
# subcategory count which occurs only once are: 73
# subcategory count which occurs only once are: 45
# subcategory count which occurs only once are: 34

Distinct subcategory counts : 1442
Top 350 subcategory %: 96.61373522745339

                                                  cnt    percent
Loud Music/Party                              1176584  10.461429
ENTIRE BUILDING                                624986   5.556974
No Access                                      421549   3.748143
APARTMENT ONLY                                 335113   2.979610
Request Large Bulky Item Collection            326334   2.901552
Banging/Pounding                               321234   2.856206
Street Light Out                               261830   2.328024
Pothole                                        250541   2.227650
Blocked Hydrant                                187984   1.671433
Loud Talking                                   187918   1.670846
Posted Parking Sign Violation                  186178   1.655375
N/A                                            183174   1.628666
With License Plate                             161632   1.437128
PESTS                                          161445   1.435465
Partial Access                                 157767   1.402763
14 Derelict Vehicles                           145558   1.294208
Noise: Construction Before/After Hours (NM1)   119629   1.063664

Counts of subcategory:

subcategory count which occurs only once are: 73

     dataType                                        subcategory  size
13     Safety                 15X ICE-SNOW COND./PEDESTRN ACCESS     1
14     Safety                        16 Request Changes - A.S.P.     1
40     Safety                                       ALJ Division     1
68     Safety  Air: Odor/Fumes, Restaurant - For Dep Internal...     1
70     Safety      Air: Open Fire, Construction/Demolition (AC4)     1
...       ...                                                ...   ...
1356   Safety                Unincorporated Business Tax - Other     1
1357   Safety               Unincorporated Business Tax - Refund     1
1378   Safety                              Utility Cover Blocked     1
1379   Safety                      V.E.S.T. Program (DOB & NYPD)     1
1417   Safety                          Waterway-Floatables (IHC)     1

[73 rows x 3 columns]

In [38]:
df_tmp = pd.DataFrame(df_nyc["address"].value_counts())
chk_addr = list(df_tmp.index.values)
chk_addr = chk_addr[:5]
print(chk_addr)
for x in chk_addr:
    df_tmp = df_nyc.loc[
        df_nyc["address"] == x,
        [
            "dataSubtype",
            "dateTime",
            "category",
            "subcategory",
            "status",
            "address",
            "latitude",
            "longitude",
            "source",
            "extendedProperties",
        ],
    ]
    display(df_tmp.head(5))

"""
Findings:

Highest Freq addr:

['672 EAST  231 STREET', '89-21 ELMHURST AVENUE', '78-15 PARSONS BOULEVARD', 
'1025 BOYNTON AVENUE', 'BROADWAY']



"""

['672 EAST  231 STREET', '89-21 ELMHURST AVENUE', '78-15 PARSONS BOULEVARD', '1025 BOYNTON AVENUE', 'BROADWAY']

,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
498,311_All,2020-07-06 03:15:23,Noise - Residential,Loud Music/Party,Closed,672 EAST 231 STREET,40.892385,-73.859216,None,
1398,311_All,2020-05-11 17:32:56,Noise - Residential,Loud Music/Party,Closed,672 EAST 231 STREET,40.892385,-73.859216,None,
2069,311_All,2020-05-04 20:12:35,Noise - Residential,Loud Music/Party,Closed,672 EAST 231 STREET,40.892385,-73.859216,None,
4715,311_All,2020-05-04 20:28:04,Noise - Residential,Loud Music/Party,Closed,672 EAST 231 STREET,40.892385,-73.859216,None,
5109,311_All,2020-06-19 23:23:04,Noise - Residential,Loud Music/Party,Closed,672 EAST 231 STREET,40.892385,-73.859216,None,

,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
505,311_All,2019-11-22 22:04:56,HEAT/HOT WATER,APARTMENT ONLY,Closed,89-21 ELMHURST AVENUE,40.74742,-73.876853,None,
810,311_All,2017-02-21 19:01:49,HEAT/HOT WATER,ENTIRE BUILDING,Closed,89-21 ELMHURST AVENUE,40.74742,-73.876853,None,
1497,311_All,2016-03-14 19:07:46,HEAT/HOT WATER,ENTIRE BUILDING,Closed,89-21 ELMHURST AVENUE,40.74742,-73.876853,None,
1674,311_All,2019-03-10 04:17:34,HEAT/HOT WATER,ENTIRE BUILDING,Closed,89-21 ELMHURST AVENUE,40.74742,-73.876853,None,
2045,311_All,2018-03-16 19:24:57,HEAT/HOT WATER,ENTIRE BUILDING,Closed,89-21 ELMHURST AVENUE,40.74742,-73.876853,None,

,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
2555,311_All,2019-04-01 11:33:51,Illegal Parking,Unauthorized Bus Layover,Closed,78-15 PARSONS BOULEVARD,40.721959,-73.809697,None,
2788,311_All,2019-06-05 15:05:30,Noise - Vehicle,Car/Truck Horn,Closed,78-15 PARSONS BOULEVARD,40.721959,-73.809697,None,
4470,311_All,2019-05-13 15:38:26,Illegal Parking,Unauthorized Bus Layover,Closed,78-15 PARSONS BOULEVARD,40.721959,-73.809697,None,
4879,311_All,2020-06-30 09:53:49,Noise - Vehicle,Car/Truck Horn,Closed,78-15 PARSONS BOULEVARD,40.721959,-73.809697,None,
5086,311_All,2019-04-05 10:31:40,Noise - Residential,Loud Music/Party,Closed,78-15 PARSONS BOULEVARD,40.721959,-73.809697,None,

,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
4492,311_All,2017-06-07 05:48:30,UNSANITARY CONDITION,PESTS,Closed,1025 BOYNTON AVENUE,40.824595,-73.877299,None,
4784,311_All,2016-10-24 01:13:34,UNSANITARY CONDITION,GARBAGE/RECYCLING STORAGE,Closed,1025 BOYNTON AVENUE,40.824595,-73.877299,None,
4829,311_All,2017-05-06 14:29:22,Non-Emergency Police Matter,Trespassing,Closed,1025 BOYNTON AVENUE,40.824595,-73.877299,None,
5162,311_All,2017-08-18 05:32:49,ELECTRIC,LIGHTING,Closed,1025 BOYNTON AVENUE,40.824595,-73.877299,None,
5796,311_All,2018-02-09 02:35:08,HEAT/HOT WATER,ENTIRE BUILDING,Closed,1025 BOYNTON AVENUE,40.824595,-73.877299,None,

,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
1521,311_All,2019-06-21 19:15:50,Broken Parking Meter,Out of Order,Closed,BROADWAY,40.782110,-73.980938,None,
1684,311_All,2019-11-16 18:56:32,Lost Property,Bag/Wallet,Closed,BROADWAY,40.755033,-73.986638,None,
2260,311_All,2019-05-18 09:51:00,Noise,Noise: Construction Equipment (NC1),Closed,BROADWAY,40.787349,-73.977325,None,
2261,311_All,2017-04-17 17:22:53,Street Condition,Pothole,Closed,BROADWAY,40.756534,-73.913812,None,
2316,311_All,2017-12-07 11:53:00,Water System,Hydrant Running (WC3),Closed,BROADWAY,40.837488,-73.942369,None,

"\nFindings:\n\nHighest Freq addr:\n\n['672 EAST  231 STREET', '89-21 ELMHURST AVENUE', '78-15 PARSONS BOULEVARD', \n'1025 BOYNTON AVENUE', 'BROADWAY']\n\n\n\n"

In [39]:
x = df_nyc.loc[:, ["dataSubtype", "status"]].value_counts()
display(x)

# Finding: Top 7 status accounts for most of the status

dataSubtype  status
311_All      Closed              10787980
             Pending               201814
             In Progress           145573
             Open                   99644
             Assigned               59289
             Started                 7429
             Email Sent              3835
             Unassigned                26
             Closed - Testing          19
             Draft                     13
             Unspecified               11
dtype: int64

In [40]:
# Getting look and feel of data for  about duplicate requestID


df_tmp = df_nyc.loc[
    df_nyc["dataSubtype"] == "311_All",
    [
        "requestId",
        "dataType",
        "dataSubtype",
        "dateTime",
        "category",
        "subcategory",
        "status",
        "source",
        "latitude",
        "longitude",
    ],
]

#display(df_tmp.loc[:, ["requestId"]].value_counts(ascending=False))
reqid = [1020818, 293542, 412519, 1587403]
for x in reqid:
   df_tmp = df_nyc.loc[
       df_nyc["requestId"] == x,
       [
           "requestId",
           "dataSubtype",
           "dateTime",
           "category",
           "subcategory",
           "status",
           "address",
           "latitude",
           "longitude",
           "source",
           "extendedProperties",
       ],
   ]
   display(df_tmp.head(10))
   
   # Finding: Duplicate requestId could not establish relation with any other fields i.e.
   # requestId is same but date, category, subcategory addr, long, lat are different with no relation

,requestId,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
494830,1020818,311_All,2016-04-25 18:57:21,Illegal Parking,Unauthorized Bus Layover,Closed,None,40.758113,-73.834244,None,
1909527,1020818,311_All,2018-05-25 20:13:31,Noise - Street/Sidewalk,Loud Music/Party,Closed,None,40.701655,-73.945646,None,
3324182,1020818,311_All,2018-08-22 19:00:00,UNSANITARY CONDITION,GARBAGE/RECYCLING STORAGE,Closed,49 EAST 19 STREET,40.648303,-73.961884,None,
4736819,1020818,311_All,2016-01-16 11:36:06,Noise - Residential,Loud Television,Closed,99-35 59 AVENUE,40.737307,-73.858530,None,
6148626,1020818,311_All,2016-08-04 14:16:50,Building/Use,No Certificate Of Occupancy/Illegal/Contrary T...,Closed,113-16 93 AVENUE,40.693450,-73.833189,None,
7562953,1020818,311_All,2017-10-05 12:08:00,Street Light Condition,Street Light Out,Closed,None,40.587340,-73.819434,None,
8974676,1020818,311_All,2019-01-08 14:38:19,Illegal Parking,Double Parked Blocking Vehicle,Closed,GREENE AVENUE,40.701294,-73.916336,None,
10387555,1020818,311_All,2016-05-20 11:18:20,FLOORING/STAIRS,FLOOR,Closed,523 WEST 187 STREET,40.852222,-73.928982,None,

,requestId,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
142463,293542,311_All,2020-06-16 11:39:12,Street Sign - Dangling,Other/Unknown,Closed,905 CHURCH AVENUE,40.646426,-73.970754,None,
1556594,293542,311_All,2019-03-11 16:22:00,Request Large Bulky Item Collection,Request Large Bulky Item Collection,Closed,1131 NEW YORK AVENUE,40.645714,-73.946106,None,
2971830,293542,311_All,2020-04-11 06:02:51,Noise - Commercial,Loud Music/Party,Closed,117-19 LIBERTY AVENUE,40.685970,-73.825693,None,
4385372,293542,311_All,2020-06-24 17:25:29,Non-Emergency Police Matter,Face Covering Violation,Closed,13 AVENUE,40.636147,-73.990956,None,
5796676,293542,311_All,2019-03-13 13:01:31,UNSANITARY CONDITION,MOLD,Closed,30 WEST 190 STREET,40.864312,-73.901467,None,
7210574,293542,311_All,2016-03-24 08:34:57,Illegal Parking,Blocked Hydrant,Closed,118 CONGRESS STREET,40.689001,-73.998139,None,
8622564,293542,311_All,2018-02-07 16:32:59,PAINT/PLASTER,WALL,Closed,22 3 STREET,40.678447,-73.995007,None,
10034559,293542,311_All,2019-01-28 15:02:22,Street Condition,Failed Street Repair,Closed,228 NORWAY AVENUE,40.593063,-74.078326,None,

,requestId,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
200220,412519,311_All,2020-06-25 00:16:59,Noise - Street/Sidewalk,Loud Music/Party,Closed,1641 CLAY AVENUE,40.842975,-73.904983,None,
1614232,412519,311_All,2016-04-14 14:27:00,Noise,Noise: Alarms (NR3),Closed,1630 EAST 174 STREET,40.834029,-73.875432,None,
3029820,412519,311_All,2016-11-22 10:44:29,Consumer Complaint,Damaged/Defective Goods,Closed,2372 BROADWAY,40.788734,-73.976122,None,
4442752,412519,311_All,2016-06-22 14:57:44,Street Condition,Pothole,Closed,176 WYCKOFF AVENUE,40.702178,-73.915826,None,
5854053,412519,311_All,2017-09-15 14:15:00,Hazardous Materials,"Unsafe Chemical, Abandoned (HC2)",Closed,226-04 145 AVENUE,40.662625,-73.753006,None,
7268078,412519,311_All,2017-05-13 10:45:27,ELECTRIC,OUTLET/SWITCH,Closed,5225 14 AVENUE,40.631832,-73.991843,None,
8680265,412519,311_All,2019-11-21 11:02:00,Street Light Condition,Street Light Out,Closed,None,40.758974,-73.771484,None,
10092049,412519,311_All,2019-03-22 23:32:42,Noise - Residential,Loud Music/Party,Closed,611 ROGERS AVENUE,40.656713,-73.953107,None,

,requestId,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
769632,1587403,311_All,2018-06-07 21:34:10,HEAT/HOT WATER,APARTMENT ONLY,Closed,87-34 116 STREET,40.698676,-73.833115,None,
2184553,1587403,311_All,2017-06-16 10:10:21,DOOR/WINDOW,WINDOW PANE,Closed,2261 ANDREWS AVENUE NORTH,40.860647,-73.908081,None,
3598261,1587403,311_All,2019-02-23 22:42:21,Blocked Driveway,No Access,Closed,2389 LORILLARD PLACE,40.856226,-73.889391,None,
5010836,1587403,311_All,2018-08-09 12:46:00,Request Large Bulky Item Collection,Request Large Bulky Item Collection,Closed,594 VAN BUREN STREET,40.692476,-73.925762,None,
6423385,1587403,311_All,2017-11-16 14:01:31,Blocked Driveway,Partial Access,Closed,2365 HOLLERS AVENUE,40.885300,-73.824650,None,
7837264,1587403,311_All,2016-05-26 12:32:57,Derelict Vehicle,With License Plate,Closed,643 JEROME STREET,40.664877,-73.884532,None,
9248921,1587403,311_All,2019-06-17 20:11:27,Homeless Person Assistance,None,Closed,221 1 AVENUE,40.730816,-73.982962,None,
10661684,1587403,311_All,2019-05-13 09:30:26,Building Marshals office,Unlicensed/Illegal/Improper Work In Progress,Closed,843 60 STREET,40.634901,-74.008561,None,

In [41]:
# # get profile report for NYC file  without requestID
col_list = df_nyc.columns.values.tolist()
col_list = [x for x in col_list if x.lower() != "requestid"]
df_tmp=df_nyc.drop_duplicates(subset=col_list, keep="first")
df_tmp.reset_index(inplace=True)

if "index" in df_tmp:
    df_tmp.drop(["index"], axis=1, inplace=True)


#df_tmp_No_requestId_profile = ProfileReport(df_tmp, title="df_nyc_No_requestId_Profiling Report" ,  progress_bar=True ,config_file="config.yaml")
df_tmp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11056664 entries, 0 to 11056663
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   requestId           int64
 1   dataType            object
 2   dataSubtype         object
 3   dateTime            datetime64[ns]
 4   category            object
 5   subcategory         object
 6   status              object
 7   address             object
 8   latitude            float64
 9   longitude           float64
 10  source              object
 11  extendedProperties  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(8)
memory usage: 1012.3+ MB

C:\pb_python395_venv_ds\lib\site-packages\pandas\core\frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [42]:
# get profile report of NYC  without requestID to indify duplicate records


df_tmp_No_requestId_profile = ProfileReport(
    df_tmp,
    title="df_nyc_no_requestId Profiling Report",
    progress_bar=True,
    config_file="config.yaml",
)
df_tmp_No_requestId_profile.config.html.minify_html = False
df_tmp_No_requestId_profile.to_file("df_nyc_no_requestId_profile_report.html")

# Finding:
# There are 182501 duplicate rows without request id which is 1.6%

C:\pb_python395_venv_ds\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

Summarize dataset:   0%|          | 0/21 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [43]:
# Duplicate rows sample without requestId field
# There are 182501 duplicate rows without request id which is 1.6%
"""

dataType	dataSubtype	dateTime	category	subcategory	status	address	latitude	longitude	extendedProperties	# duplicates
9260	Safety	311_All	2016-02-29	Rodent	Condition Attracting Rodents	Closed	30-62 47 STREET	40.759677	-73.910689		26
8792	Safety	311_All	2016-02-25	Rodent	Rat Sighting	Closed	551 WEST 204TH STREET	40.863635	-73.920716		24
165315	Safety	311_All	2019-03-24	Rodent	Signs of Rodents	Closed	129 BEACH 118 STREET	40.577281	-73.838170		20
159344	Safety	311_All	2019-02-11	Rodent	Rat Sighting	Closed	1690 NELSON AVENUE	40.847872	-73.917200		17

"""
chk_dt = [
    ("2016-02-29" , '30-62 47 STREET	40'),
    ("2016-02-25" , '551 WEST 204TH STREET'),
    ("2019-03-24", '129 BEACH 118 STREET'),
    ("2019-02-11", '1690 NELSON AVENUE'),
]
print(chk_dt)
for x , y in chk_dt:
    df_tmp = df_nyc.loc[
        (df_nyc["dateTime"] == x) & (df_nyc["category"] == "Rodent") & (df_nyc["status"] == "Closed")  & (df_nyc["address"] == y),
        [
            "requestId",
            "dataType",
            "dataSubtype",
            "dateTime",
            "category",
            "subcategory",
            "status",
            "address",
            "latitude",
            "longitude",
            "source",
            "extendedProperties",
        ],
    ].sort_values(by=["dateTime", "category", "subcategory", "address", "latitude", "longitude"])
    print(f" for date: {x}")
    display(df_tmp)

[('2016-02-29', '30-62 47 STREET\t40'), ('2016-02-25', '551 WEST 204TH STREET'), ('2019-03-24', '129 BEACH 118 STREET'), ('2019-02-11', '1690 NELSON AVENUE')]
 for date: 2016-02-29

Empty DataFrame
Columns: [requestId, dataType, dataSubtype, dateTime, category, subcategory, status, address, latitude, longitude, source, extendedProperties]
Index: []

 for date: 2016-02-25

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
5500621,2599260,Safety,311_All,2016-02-25,Rodent,Condition Attracting Rodents,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
10742592,1754504,Safety,311_All,2016-02-25,Rodent,Condition Attracting Rodents,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
10813078,1900329,Safety,311_All,2016-02-25,Rodent,Condition Attracting Rodents,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
963591,1988225,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
1345184,2776087,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
2427089,2090121,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
2561653,2367770,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
2717725,2688559,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
2774470,2805844,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
3008183,368037,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
3149787,660233,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
3608342,1608227,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
3658001,1710625,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
4279595,76544,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
4386045,294986,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
4689234,922505,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
5776598,251635,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
5797546,295336,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
5882019,470320,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
6801721,2367164,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
7020692,2820452,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
9767436,2659004,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
9943676,105816,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
10042446,309817,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
10077821,382935,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
10176734,587415,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,
10884080,2046879,Safety,311_All,2016-02-25,Rodent,Rat Sighting,Closed,551 WEST 204TH STREET,40.863635,-73.920716,None,

 for date: 2019-03-24

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
3181481,725595,Safety,311_All,2019-03-24,Rodent,Condition Attracting Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
5490103,2577370,Safety,311_All,2019-03-24,Rodent,Condition Attracting Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
979005,2019661,Safety,311_All,2019-03-24,Rodent,Mouse Sighting,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
4423499,372719,Safety,311_All,2019-03-24,Rodent,Rat Sighting,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
709429,1463563,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
1055934,2178048,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
1684725,557914,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
2632544,2513593,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
3990052,2396123,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
5755397,208143,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
6030956,777956,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
6207830,1142802,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
7105411,76408,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
7529293,951469,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
7550485,995005,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
7741286,1389003,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
7889733,1695464,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
8031070,1987690,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
8355715,2659347,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
8454383,2863506,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
8990773,1054263,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
10000313,222676,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
10496066,1244411,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,
11025366,2338354,Safety,311_All,2019-03-24,Rodent,Signs of Rodents,Closed,129 BEACH 118 STREET,40.577281,-73.83817,None,

 for date: 2019-02-11

,requestId,dataType,dataSubtype,dateTime,category,subcategory,status,address,latitude,longitude,source,extendedProperties
9679317,2477132,Safety,311_All,2019-02-11,Rodent,Condition Attracting Rodents,Closed,1690 NELSON AVENUE,40.847779,-73.917084,None,
1767159,727684,Safety,311_All,2019-02-11,Rodent,Mouse Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
2807269,2873618,Safety,311_All,2019-02-11,Rodent,Mouse Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
3175567,713564,Safety,311_All,2019-02-11,Rodent,Mouse Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
7434376,755862,Safety,311_All,2019-02-11,Rodent,Mouse Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
544591,1123204,Safety,311_All,2019-02-11,Rodent,Rat Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
770770,1589767,Safety,311_All,2019-02-11,Rodent,Rat Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
1187814,2450517,Safety,311_All,2019-02-11,Rodent,Rat Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
1364187,2815341,Safety,311_All,2019-02-11,Rodent,Rat Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
2269878,1764211,Safety,311_All,2019-02-11,Rodent,Rat Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
2545238,2333877,Safety,311_All,2019-02-11,Rodent,Rat Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
3458054,1297205,Safety,311_All,2019-02-11,Rodent,Rat Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
3514349,1413964,Safety,311_All,2019-02-11,Rodent,Rat Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
3521419,1428511,Safety,311_All,2019-02-11,Rodent,Rat Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
4863472,1282688,Safety,311_All,2019-02-11,Rodent,Rat Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
7597568,1092205,Safety,311_All,2019-02-11,Rodent,Rat Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
7639886,1179677,Safety,311_All,2019-02-11,Rodent,Rat Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
8092284,2114431,Safety,311_All,2019-02-11,Rodent,Rat Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
8706367,466438,Safety,311_All,2019-02-11,Rodent,Rat Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
9030785,1137243,Safety,311_All,2019-02-11,Rodent,Rat Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
10019159,261642,Safety,311_All,2019-02-11,Rodent,Rat Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
10796870,1866966,Safety,311_All,2019-02-11,Rodent,Rat Sighting,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
1408427,2906708,Safety,311_All,2019-02-11,Rodent,Signs of Rodents,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
2053045,1316027,Safety,311_All,2019-02-11,Rodent,Signs of Rodents,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
5776136,250668,Safety,311_All,2019-02-11,Rodent,Signs of Rodents,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,
7330541,541552,Safety,311_All,2019-02-11,Rodent,Signs of Rodents,Closed,1690 NELSON AVENUE,40.847872,-73.917200,None,

In [44]:
# Exploring  "source","dataSubtype"
x = df_nyc.groupby(["dataSubtype", "source"], dropna=False, as_index=False).size()
print(x)
# source field is missing (None / NaN) in NYC File , but available in SF file for 311_All

  dataSubtype  source      size
0     311_All     NaN  11305633

In [45]:
# Exploring extendedProperties
x = df_nyc.loc[:, ["extendedProperties"]].value_counts(dropna=False)
display(x)
x = df_nyc.groupby(["dataSubtype", "extendedProperties"], dropna=False, as_index=False).size()
print(x)
# Finding: field 'extendedProperties' is missing/empty for all records and can be dropped

extendedProperties
                      11305633
dtype: int64

  dataSubtype extendedProperties      size
0     311_All                     11305633

In [46]:
#conclusion for NYC file:

## Conclusion:  Update from NYC file
# 0.  requestID field has 25% distinct values with 4 zero values i.e. many duplicate requestId 
# (Field requestId doesn't seem to have any value/link and can be dropped -timebeing keeping it)

# 1.  Finding all values ('Safety')  are same in 'dataType' column i.e. constant column and can be dropped
#     All values for "dataSubtype" is "311_All' in NYC file so is constant, nut in SF file  there are 2 data subtypes

# 2.  Field 'extendedProperties' is missing for all records and can be dropped
# 3.  There are many duplicate 'requestID' field value. If we remove requestID, we find lot of duplicate records for same datetime. I see the requestId is not contributing towards prediction/analysis and can be dropped.
# 
# 
# 4.  Finding : Distinct category counts : 409 (which is lot more compared to 96 for SF file) but Top 92 category contributes to  97%.
#           122 category occurs only once and has lot of junk values

# 5.  Finding: - Out of  1442 distinct subcategory 'freq < 1%' are account for 1424
#               - 17 subcategory records occured with 'freq > 1%'   (include N/A account for 1.62%)
#               - Top 350 subcategory %: 96.61

# 6.  address field almost 14% missing values  

# 7.    latitude and Longitude almost 6.7% missing (0) values  [we can set latitude and longitude of 0 with NYC : [lat = 40.730610  , long= -73.935242 ]
#     Note: Without address records did not help us to plan for resource of safety event for specific area
# 
# 8.  Finding: Top 7 status accounts for most of the status , with 11 distinct status values

# 9. Finding: # source field is missing (None / NaN) in NYC File , but available in SF file for 311_All
# 10. Finding: field 'extendedProperties' is missing/empty for all records and can be dropped

In [47]:
#House keeping so we can conserve memory

df_lst=['df_nyc', 'df_tmp', 'x']
del df_lst

Examine the data for New-York city to ensure that it has the same data scheme. Apply the preprocessing from step 3 and store the results in the same way.

The deliverable consists of:

A Jupyter Notebook documenting your workflow, as you load and explore the data to identify potential data quality issues.
A Python function (included in the notebook) allowing to clean and deduplicate the data as described in step 3 of the workflow.
The resulting processed dataset for San-Francisco, and New-York stored as safety-SanFrancisco-1.parquet, and safety-Nyc-1.parquet respectively.
Upload a link to your Jupyter Notebook (preferably hosted on GitHub)

# Clean input file

In [48]:
# Clean inpu file


def clean_input_file(in_df, drop_fields=None, convert_catg=None, dedup=True):
    # df=deepcopy(in_df)   # avoiding making deepcopy to conserve memory
    """
    function to do inplace modification to clean input file

    The function:
       - drops constant/empty field by passing field list as parameter "drop_fields"
       - converts data type to Categorical for categorical variable to conserve space when 
         passed as list in parameter "convert_catg"
       - drops duplicate records in dataframe when parameter "dedup" set to True

    """
    # dropping required fields
    if drop_fields:
        drop_field_list = drop_fields
        in_df.drop(drop_field_list, axis=1, inplace=True)

    # converts data type to Categorical for categorical variable to conserve space
    # fields  can be converted into 'pd.Categorical' : ["dataSubtype", "category", "subcategory", "source", "status"]
    if convert_catg:
        for x in convert_catg:
            in_df[x] = pd.Categorical(in_df[x])

    # drops duplicate records in dataframe
    if dedup:
        col_list = in_df.columns.values.tolist()
        col_list = [x for x in col_list if x.lower() != "requestid"]
        in_df.drop_duplicates(inplace=True, subset=col_list, keep="first")

    return in_df

# Input file loadng

In [49]:
# Function to load input file 

def load_parquet(fl):
    """
    Syntax:    load_parquet(fl)
    Parameter is parquet file with complete path
    It returns pandas dataframe if file exist and able to read
    """
    if os.path.exists(fl):
        try:
            df = pq.read_table(fl)
            df = df.to_pandas()
        except e:
            print(f" file '{fl}' could no be loaded due to  \nError : {e} ")
            df = None
        finally:
            return df

In [50]:

# Driver program

in_filedir = os.path.join(os.getcwd(), "data")
in_filedir = os.path.join(in_filedir, "in")
out_filedir = os.path.join(os.getcwd(), "data")
out_filedir = os.path.join(out_filedir, "out")

file_list = []
        
try:
    #print("inside try...")
    if os.path.lexists(in_filedir):
        file_list = os.listdir(in_filedir)
        #print(f"path exists and file list is : {file_list}")
        file_list = [ x.lower() for x in file_list if os.path.splitext(x)[1].lower() == ".parquet"  ]
        print(f"Read file_list from in_filedir complete : { file_list}")
    else:
        file_list = ["safety-SanFrancisco.parquet", "safety-Nyc.parquet"]
        print("Hard Code file list : ", file_list)
        
    # Process each parquet file from in_filedir listed in file_list

    for fl in file_list:
        fl_name = os.path.join(in_filedir, fl)
        #print(fl_name)  

        # load parquet file in and then store in pandas dataframe
        df=load_parquet(fl_name)
        if df is not None:
            print(f"File '{fl_name}' loaded in memory")
            print(df.info())
            
            # pass dataframe to clean_input_file  function to do inplace modification
            
            drop_fields = ["dataType", "extendedProperties"]
            convert_categorical_fields = ["dataSubtype", "category", "subcategory", "source", "status"]
            de_duplicate = True
            
            df=clean_input_file(df ,drop_fields , convert_categorical_fields, de_duplicate)
            
            print(f"File '{fl_name}' is cleaned :")
            print(df.info())

            # Export dataframe as step-1 output files
            bname = os.path.basename(fl_name)
            newname = os.path.splitext(bname)
            newname = newname[0] + "-1" + newname[1]
            newname = os.path.join(out_filedir, newname)
            #print(newname)  

            # Export data frame to parquet file (step-1 output)
            df.to_parquet(newname, compression="snappy")

            # House keeping (explicitly removing dataframe from memory)
            del df
            print(f"File '{fl_name}' removed from memory")


except  e:
    print( f"Exception: {e}")
finally:
    print("End of execution ...")

Read file_list from in_filedir complete : ['safety-nyc.parquet', 'safety-sanfrancisco.parquet']
File 'C:\Users\paras\Desktop\Work\Manning_Res\Live_Projects\LP_Pred_UrbEvents_sklearn\predicting_city_events\data\in\safety-nyc.parquet' loaded in memory
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11305633 entries, 0 to 11305632
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   requestId           int64
 1   dataType            object
 2   dataSubtype         object
 3   dateTime            object
 4   category            object
 5   subcategory         object
 6   status              object
 7   address             object
 8   latitude            float64
 9   longitude           float64
 10  source              object
 11  extendedProperties  object
dtypes: float64(2), int64(1), object(9)
memory usage: 1.0+ GB
None
File 'C:\Users\paras\Desktop\Work\Manning_Res\Live_Projects\LP_Pred_UrbEvents_sklearn\predicting_city_events\data\in\safety-nyc.parquet' is cleaned :
<class 'pandas.core.frame.DataFrame'>
Int64Index: 11056664 entries, 0 to 11305632
Data columns (total 10 columns):
 #   Column       Dtype
---  ------       -----
 0   requestId    int64
 1   dataSubtype  category
 2   dateTime     object
 3   category     category
 4   subcategory  category
 5   status       category
 6   address      object
 7   latitude     float64
 8   longitude    float64
 9   source       category
dtypes: category(5), float64(2), int64(1), object(2)
memory usage: 580.0+ MB
None
File 'C:\Users\paras\Desktop\Work\Manning_Res\Live_Projects\LP_Pred_UrbEvents_sklearn\predicting_city_events\data\in\safety-nyc.parquet' removed from memory
File 'C:\Users\paras\Desktop\Work\Manning_Res\Live_Projects\LP_Pred_UrbEvents_sklearn\predicting_city_events\data\in\safety-sanfrancisco.parquet' loaded in memory
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3958889 entries, 0 to 3958888
Data columns (total 12 columns):
 #   Column              Dtype
---  ------              -----
 0   requestId           int64
 1   dataType            object
 2   dataSubtype         object
 3   dateTime            object
 4   category            object
 5   subcategory         object
 6   status              object
 7   address             object
 8   latitude            float64
 9   longitude           float64
 10  source              object
 11  extendedProperties  object
dtypes: float64(2), int64(1), object(9)
memory usage: 362.4+ MB
None
File 'C:\Users\paras\Desktop\Work\Manning_Res\Live_Projects\LP_Pred_UrbEvents_sklearn\predicting_city_events\data\in\safety-sanfrancisco.parquet' is cleaned :
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3221561 entries, 0 to 3958888
Data columns (total 10 columns):
 #   Column       Dtype
---  ------       -----
 0   requestId    int64
 1   dataSubtype  category
 2   dateTime     object
 3   category     category
 4   subcategory  category
 5   status       category
 6   address      object
 7   latitude     float64
 8   longitude    float64
 9   source       category
dtypes: category(5), float64(2), int64(1), object(2)
memory usage: 165.9+ MB
None
File 'C:\Users\paras\Desktop\Work\Manning_Res\Live_Projects\LP_Pred_UrbEvents_sklearn\predicting_city_events\data\in\safety-sanfrancisco.parquet' removed from memory
End of execution ...